img.image-circle {
	background-size: 42px 42px;
	border-radius: 50%;
	display: block;
	margin-top: 10px;
	margin-right: 30px;
	height: 42px;
	width: 42px;
}

.well, .panel, .jumbotron, div.loader {
	margin-left: auto;
	margin-right: auto;
}

.jumbotron {
	max-width: auto;
	border-radius: 0;
}

[color="blue"].navbar, [color="blue"].well {
	background-color: #2196F3;
}

[color="red_g"].well, [color="red_g"].jumbotron {
	background-color: #f44336;
}

[color="yellow_g"].well, [color="yellow_g"].jumbotron {
	background-color: #FFA000;
}

[color="green_g"].well, [color="green_g"].jumbotron {
	background-color: #00A65E;
}

[color="orange_g"].well, [color="orange_g"].jumbotron {
	background-color: #FF5722;
}

[color="green"].well {
	background-color: #0F9D58
}

[color="red"].well {
	background-color: #D32F2F;
}

/*occhio non so se questo è giusto!!! XD */

[color="black"].list-group-item-text{
	color: #000000;
}

button.btn.mdi-action-thumb-up.vote-checkbox.proposal-not-voted {
	background-color: rgb(254, 255, 255);
}
button.btn.mdi-action-thumb-up.vote-checkbox.proposal-voted, div.well.well-lg.group-selected {
	background-color: rgb(64, 255, 64);
}
button.btn.mdi-action-thumb-up.vote-checkbox.proposal-pending-vote {
	background-color: rgb(128, 128, 128);
}

button.btn.btn-fab.btn-raised.btn-shadow {
	box-shadow: 0 10px 5px 1px rgba(0, 0, 0, 0.2)
}

div.loader
{
	width: 320px;
	height: 320px;
	z-index: 9999;
	background: url('/static/images/loading.gif') no-repeat;
	background-size: contain;
}

topic_color {
	background-color: #2196F3;
}

proposal_color {
	background-color: #0F9D58;
}

.pac-container {
	z-index: 999999;
}

.autocomplete-suggestions {
	border: 1px solid #999;
	background: #FFF;
	overflow: auto;
}

.autocomplete-suggestion {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}

.autocomplete-selected {
	background: #F0F0F0;
}

.autocomplete-suggestions strong {
	font-weight: normal;
	color: #3399FF;
}

.autocomplete-group {
	padding: 2px 5px;
}

.autocomplete-group strong {
	display: block; border-bottom: 1px solid #000;
}