

img.image-circle {
	background-size: 42px 42px;
	border-radius: 50%;
	display: block;
	margin-top: 10px;
	margin-right: 30px;
	height: 42px;
	width: 42px;
}

/*
.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
*/

.well, .panel {
	/*max-width: 1000px;*/
	margin-left: auto;
	margin-right: auto;
}

.jumbotron {
	max-width: auto;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0;
}


[color="blue"].well {
  background-color: #2196F3;
}

[color="red_g"].well {
  background-color: #f44336;
}

[color="blue"].navbar {
	background-color: #2196F3;
}

[color="green"].well {
	background-color: #0F9D58
}

[color="red"].well{
  background-color: #D32F2F;
}

/*occhio non so se questo è giusto!!! XD */

[color="black"].list-group-item-text{
	color: #000000;

}

button.btn.mdi-action-thumb-up.vote-checkbox.proposal-not-voted {
	background-color: rgb(254, 255, 255);
}
button.btn.mdi-action-thumb-up.vote-checkbox.proposal-voted {
	background-color: rgb(64, 255, 64);
}
button.btn.mdi-action-thumb-up.vote-checkbox.proposal-pending-vote {
	background-color: rgb(128, 128, 128);
}

div.well.well-lg.group-selected {
	background-color: #F4A936
}

div.box_proposals
{
    width:100% !important;
    height:418px !important;
    overflow:auto
}

div.box_groups
{
    width:100% !important;
    height:242px !important;
    overflow:auto
}

div.box_topics
{
	width:100% !important;
	height:320px !important;
	overflow:auto;
}

div.box_topics.global-topics
{
	width:100% !important;
	height:480px !important;
	overflow:auto;
}

/*
body .jumbotron,
.container .jumbotron,
.container-fluid .jumbotron {
  background-color: #fff;
  padding: 19px;
  margin-bottom: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  border: 110;
}
*/
