	<table width="600" align="center" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #2196F3">
		<tbody>
			<tr>
				<td colspan="2" align="left" style="font-family:Roboto,Arial,Helvetica,sans-serif;font-size:30px;font-weight:bold;padding:20px 20px 10px">
					{{ lang.email.common.new_notification_on }} <span class="kc">Beevote</span>!
				</td>
			</tr>
			<tr>
				<td colspan="2" align="left" style="font-family:Roboto,Arial,Helvetica,sans-serif;font-size:16px;padding:0 20px 20px">
					<p>{{ lang.hi }} {{ beevote_user_name }},</p>
					<p>{{ lang.email.proposal_creation.body_lines.line_1 }}:</p>
	
					<p>- {{ lang.elements.group_uppercase }}: "<b>{{ group_name }}</b>"</p>
					<p style="margin-top: -10px;margin-bottom: -10px;">- {{ lang.elements.topic_uppercase }}: "<b>{{ topic_title }}</b>"</p>
					<p>- {{ lang.elements.proposal_uppercase }}: "<b>{{ proposal_title }}</b>"</p>
	
					<p>{{ lang.email.proposal_creation.body_lines.last_line_part_1 }} <a href="{{ link }}" style="color: #2196F3">{{ lang.email.proposal_creation.body_lines.last_line_part_2 }}</a> {{ lang.email.proposal_creation.body_lines.last_line_part_3 }}.</p>

					<p>{{ lang.email.common.beevote_team }}</p>
				</td>
			</tr>
			<tr><td height="10" style="font-size:0;line-height:0">&amp;nbsp</td></tr>
		</tbody>
	</table>