	<table width="600" align="center" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #2196F3">
		<tbody>
			<tr>
				<td colspan="2" align="left" style="font-family:Roboto,Arial,Helvetica,sans-serif;font-size:30px;font-weight:bold;padding:20px 20px 10px">
					Successfully registered on <span class="kc">Beevote</span>!
				</td>
			</tr>
			<tr>
				<td colspan="2" align="left" style="font-family:Roboto,Arial,Helvetica,sans-serif;font-size:16px;padding:0 20px 20px">
					<p>{{ lang.hi }} {{ beevote_user_name }},</p>
					<p>Your registration request has been accepted: now you can access Beevote features!</p>
					<p>Details of registration:</p>
	
					<p style="margin-top: 3px; margin-bottom:3px;">- Beevote User ID: <b>{{ beevote_user_id }}</b></p>
					<p style="margin-top: 3px; margin-bottom:3px;">- User email: <b>{{ beevote_user_email }}</b></p>
					<p style="margin-top: 3px; margin-bottom:3px;">- Name: <b>{{ beevote_user_name }}</b></p>
					<p style="margin-top: 3px; margin-bottom:3px;">- Surname: <b>{{ beevote_user_surname }}</b></p>
	
					<p>Click <a href="{{ link }}" style="color: #2196F3">here</a> to start using Beevote.</p>

					<p>{{ lang.email.common.beevote_team }}</p>
				</td>
			</tr>
			<tr><td height="10" style="font-size:0;line-height:0">&amp;nbsp</td></tr>
		</tbody>
	</table>