<div align="center">
	<table width="600" border="0" cellspacing="0" cellpadding="0" style="margin-top: 40px;border-collapse:collapse;font:normal 12px Roboto,Arial,Helvetica,sans-serif;color:#777" align="center">
		<tbody>
			<tr>
				<td align="left" style="font-size: 15px;direction:ltr">{{ lang.email.common.slogan }}</td>
			</tr>
		</tbody>
	</table>

	<table width="600" align="center" border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr><td height="20" style="font-size:0;line-height:0">&nbsp;</td></tr>
			<tr><td align="center">
				<a href="http://beevote.appspot.com" target="_blank">
					<img style="display: block;height: auto;max-width: 100%;" src="http://beevote.appspot.com/static/images/logo-name-blue.png" border="0">
				</a>
       		</td></tr>
			<tr><td height="10" style="font-size:0;line-height:0">&nbsp;</td></tr>
		</tbody>
	</table>

	<table width="600" align="center" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #2196F3">
		<tbody>
			<tr>
				<td colspan="2" align="left" style="font-family:Roboto,Arial,Helvetica,sans-serif;font-size:30px;font-weight:bold;padding:20px 20px 10px">
					Successfully registered on <span class="kc">Beevote</span>!
				</td>
			</tr>
			<tr>
				<td colspan="2" align="left" style="font-family:Roboto,Arial,Helvetica,sans-serif;font-size:16px;padding:0 20px 20px">
					<p>{{ lang.hi }} {{ beevote_user_name }},</p>
					<p>Your registration request has been accepted: now you can access Beevote features!</p>
					<p>Details of registration:</p>
	
					<p style="margin-top: 3px; margin-bottom:3px;">- Beevote User ID: <b>{{ beevote_user_id }}</b></p>
					<p style="margin-top: 3px; margin-bottom:3px;">- Google User ID: <b>{{ google_user_id }}</b></p>
					<p style="margin-top: 3px; margin-bottom:3px;">- User email: <b>{{ beevote_user_email }}</b></p>
					<p style="margin-top: 3px; margin-bottom:3px;">- Name: <b>{{ beevote_user_name }}</b></p>
					<p style="margin-top: 3px; margin-bottom:3px;">- Surname: <b>{{ beevote_user_surname }}</b></p>
	
					<p>Click <a href="{{ link }}" style="color: #2196F3">here</a> to start using Beevote.</p>

					<p>{{ lang.email.common.beevote_team }}</p>
				</td>
			</tr>
			<tr><td height="10" style="font-size:0;line-height:0">&amp;nbsp</td></tr>
		</tbody>
	</table>

	<table align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
		<tbody>
			<tr><td align="left">

				<table width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse">
					<tbody>
						<tr>
							<td align="left" style="padding-top:10px;font-family:Roboto,Arial,Helvetica,sans-serif;font-size:11px;color:#707070">
								<a href="http://beevote.appspot.com" style="color:#006699;text-decoration:none" target="_blank">
									{{ lang.email.common.go_to }} <span class="kc">Beevote</span>
								</a>
								&nbsp;&nbsp;|&nbsp;&nbsp;
								<a style="color:#006699;text-decoration:none" href="http://plus.google.com/u/0/108299825091406534382/" target="_blank">
									Google+
								</a>
								&nbsp;&nbsp;|&nbsp;&nbsp;
								<a href="http://facebook.com/Beevote" style="color:#006699;text-decoration:none" target="_blank">
									Facebook
								</a>
							</td>
						</tr>
						<tr><td height="20" style="font-size:0;line-height:0">&nbsp;</td></tr>
					</tbody>
				</table>

			</td></tr>
		</tbody>
	</table>  
</div>