<!DOCTYPE html>
<html>
<head>
	<!-- Start of basic head -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

		<!-- scripts -->
		<script src="../static/js/jquery-1.11.1.min.js"></script>
		<script src="../static/bootstrap/js/bootstrap.js"></script>
		<script src="../static/material/js/material.js"></script>
		<script src="../static/material/js/ripples.js"></script>
		<script src="../static/js/snackbar.min.js"></script>
		<script src="../static/js/jquery.datetimepicker.js"></script>
		<script src="../static/js/jquery.form.js"></script>
		<script>
			$(document).ready(function() {
				$.material.init();
			});
		</script>
		<!-- /scripts -->

		<!-- style -->
		<link rel="icon" type="image/png" href="/static/images/favicon.png">
		<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="../static/material/css/material.css">
		<link rel="stylesheet" href="../static/material/css/material-wfont.css">
		<link rel="stylesheet" href="../static/material/css/ripples.css">
		<link rel="stylesheet" href="../static/css/custom-css/css-custom.css">
		<link rel="stylesheet" href="../static/css/custom-css/css-navbar-custom.css">
		<link rel="stylesheet" href="../static/css/snackbar.min.css">
		<link rel="stylesheet" href="../static/css/mfb.css"> <!-- MFB -->
		<link rel="stylesheet" type="text/css" href="../static/css/jquery.datetimepicker.css"/ >
		<!-- /style -->

		<!-- End of basic head -->
</head>
<body>

<!-- BUTTONS -->
	<ul class="bt mfb-component--br mfb-zoomin">
		<li class="mfb-component__wrap">
			<a href="#" data-mfb-label="Create" class="btn btn-fab btn-raised" style="background-color: #db4437;pointer-events:none;">
				<i class="mfb-component__main-icon--resting mdi-content-add" style="top:-14px;font-size:27px;"></i>
				<i class="mfb-component__main-icon--active"></i>
			</a>     
			<ul class="mfb-component__list" style="padding: 8px; margin-bottom: -20px;">
				<li style="padding-top:20px;padding-bottom:20px;">
					<a href="#" data-mfb-label="Create Proposal" class="btn btn-fab btn-raised" style="height: 40px;width: 40px; background-color: #0F9D58;">
						<i class="mdi-communication-messenger" style="line-height: 43px;top: -16px;left: -5px;font-size:20px;"></i>
					</a>                     
				</li>
				<li style="padding-top:20px;padding-bottom:20px;">
					<a href="#" data-mfb-label="Create Topic" class="btn btn-fab btn-raised" style="height: 40px;width: 40px; background-color: #2196F3;">
						<i class="mdi-communication-forum" style="line-height: 43px;top: -16px;left: -5px;font-size:20px;"></i>
					</a>                     
				</li>
				<li style="padding-top:20px;padding-bottom:20px;">
					<a href="#" data-target="#myModal" data-toggle="modal" data-mfb-label="Create Group" data-mfb-label="label with long long title" class="btn btn-fab btn-raised" style="height: 40px;width: 40px; background-color: #FDD835;">
						<i class="mdi-social-group" style="line-height: 43px;top: -16px;left: -5px;font-size:20px;"></i>
					</a>
				</li>				                   
			</ul>        
		</li>
	</ul>
	<!-- -->


</body>
</html>