<script>
$('div.topic-item').on('click', function() {
	load_topic({{ group.key.id }}, $(this).data('topic-id'))
});

$('span#group_name').html("{{ group.name }}");
$('input#groupId').val("{{ group.key.id }}");

$(document).ready(function() {
	$('#group_image').css('width', '99%');$('#group_image').css('width', '100%');
	$('button#delete-group').on('click', function() {
		if (confirm('{{lang.group_overview.warning_delete_group}}')) {
			$.ajax({
				url: '/api/group/{{ group.key.id }}/remove',
				method: 'POST',
				dataType: 'json',
				error: function() {
					alert('lang.general_error');
				},
				success: function(response) {
					if (response.success) {
						load_all_topics();
						load_groups();
					} else {
						alert(response.error);
					}
				}
			});
		}
	});

	$('#edit-cancel').on('click', function() {
		resetForm("updateImage-form");
	});

	$('#updateImage-form').ajaxForm({
		dataType: "json",
		beforeSubmit: function() {
			$('#edit-image').attr("disabled", true);
		},
		clearForm: true,
		error: function() {
			alert('{{lang.general_error}}');
		},
		success: function(response) {
			if (response.success) {
				load_groups(response.group_id);
				load_group_topics(response.group_id);
				$('#updateImage').modal('hide');
			} else {
				alert(response.error);
			}
			$('#edit-image').attr("disabled", false);
		}
	});

	$('#updateInfo-form').ajaxForm({
		dataType: "json",
		beforeSubmit: function() {
			$('#edit-info').attr("disabled", true);
		},
		clearForm: true,
		error: function() {
			alert('{{lang.general_error}}');
		},
		success: function(response) {
			if (response.success) {
				load_groups(response.group_id);
				load_group_topics(response.group_id)
				$('#updateInfo').modal('hide');
			} else {
				alert(response.error);
			}
			$('#edit-info').attr("disabled", false);
		}
	});
	$('#creation-buttons').html('');
	$('#creation-buttons').append(buttons.create_topic);
	$('#creation-buttons').append(buttons.create_group);
});

function resetForm(form_id) {
			$('#'+form_id).each(function(){
				this.reset();
			});
};

</script>


	<div class="list-group" >
		<div class="list-group-item">
			<div class="well well-lg proposal-well" color="green_g" style="padding: 10px 0px 0px 25px;">
				<div class="row">
					<div class="row-picture" style="width: 200px;margin-bottom: 10px;">
						{% if group.img %}
						<img src="/group/{{group.key.id}}/image" id="group_image" style="width: 200px;height: 100%;">
						{% else %}
						<img src="/static/images/group-default.jpg" id="group_image" style="width: 200px;height: 100%;">
						{% endif %}
						{% if group.is_own %}
							<div style="position:absolute;top:0px;"><button type="button" class="btn btn-info btn-raised mdi-content-create" data-toggle="modal" data-target="#updateImage" style="padding:7px;"></button></div>
							<button id="delete-group" title="Delete this group" class="btn btn-raised mdi-action-delete" style="padding:8px;position:absolute;top:0px;right:25px;z-index:1;background-color:#F44336;"></button>
						{% endif %}
					</div>
					<div class="row-content" style="width: 66%;margin-top: 10px;">
						<div class="col-lg-11">
							<h2 style="word-wrap:break-word;font-size:30px;padding-bottom:5px;margin:0px;">
								{{ group.name }}
								{% if group.is_own %}
								<button type="button" class="btn btn-raised mdi-content-create" data-toggle="modal" data-target="#updateInfo" style="padding:7px;"></button>
								{% endif %}
							</h2>
							
								{% if group.description %}
								<h5 style="word-wrap:break-word;"><span class="mdi-editor-format-align-left"></span> {{ group.description }}
								</h5>
								{% endif %}
						</div>
					</div>	
					<div style="position:absolute;right:25px;bottom:20px;">
						<button type="button" class="btn btn-raised mdi-social-people" data-toggle="modal" data-target="#addMembers" style="background-color:rgb(64, 255, 64);font-size:30px;"></button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Form-update-image -->
	<div id="updateImage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body" style="padding:15px 15px 0px 15px;">
						<form action="/api/group/{{ group.key.id }}/update" method="post" class="form-horizontal" enctype="multipart/form-data" id="updateImage-form">
							<fieldset>
								<div class="form-group" >
									<label for="inputImg" class="col-lg-2 control-label">{{lang.warning_photo}}</label>
									<div class="col-lg-10">
										<input id="inputImg" type="file" name="img"/>
									</div>
								</div>
								<div class="form-group">
									<div class="modal-footer" style="padding:0px 25px 0px 0px">
										<button type="button" id="edit-cancel" class="btn btn-default" data-dismiss="modal" data-target="#updateImage" style="background-color:#bdbdbd;">{{lang.cancel}}</button>
										<button type="submit" class="btn" id="edit-image" style="background-color:#00A65E;">{{lang.edit}}</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
	</div>

	<!-- Form-update-title-description -->
	<div id="updateInfo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body" style="padding:15px 15px 0px 15px;">
						<form action="/api/group/{{ group.key.id }}/update" method="post" class="form-horizontal" enctype="multipart/form-data" id="updateInfo-form">
							<fieldset>
								<div class="form-group">
									<label for="inputGroupName" class="col-lg-2 control-label">{{lang.name}} </label>
									<div class="col-lg-10">
										<input class="form-control" id="inputGroupName" name="name" placeholder="Name of the group" type="text" maxlength="32" required value="{{ group.name }}">
									</div>
								</div>
								<div class="form-group">
									<label for="textArea" class="col-lg-2 control-label">{{lang.description}}</label>
									<div class="col-lg-10">
										<textarea class="form-control" rows="3" id="inputDescription" name="description">{{ group.description }}
										</textarea>
										<span class="help-block">{{lang.description_message}}</span>
									</div>
								</div>
								<div class="form-group">
									<div class="modal-footer" style="padding:0px 25px 0px 0px">
										<button type="button" id="edit-cancel" class="btn btn-default" data-dismiss="modal" data-target="#updateInfo" style="background-color:#bdbdbd;">{{lang.cancel}}</button>
										<button type="submit" class="btn" id="edit-info" style="background-color:#00A65E;">{{lang.edit}}</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
	</div>

		<div class="list-group">
			<div class="list-group-item">
				<div class="row">
					<div style="margin-left:20px;">
						<h2 style="margin:0;">{{lang.group_overview.topics}}</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="list-group global-topics">
			{% if not group.topics %}
			<p style="margin-left:20px;">{{lang.groups_overview.no_topics}}</p>
			{% endif %}
			{% for topic in group.topics %}
			<div class="list-group-item topic-item" data-topic-id="{{ topic.key.id }}">
				<div class="well well-lg" color="blue" style="padding: 0px; padding-top: 10px; padding-left: 26px; padding-bottom: 6px; cursor: pointer; max-width: 900px;">
					<div class="row">
						<div class="row-picture">
							{% if topic.img %}
							<img class="circle" src="/group/{{ group.key.id }}/topic/{{ topic.key.id }}/image" alt="icon">
							{% else %}
							<img class="circle" src="/static/images/topic-icon.png" alt="icon">
							{% endif %}
						</div>
						<div class="row-content">
							<h3 style="font-size:20px;padding-bottom:5px;margin:0px;">{{ topic.title }}</h3>
							<h5>
								{% if topic.place != "" %}
								<span class="mdi-communication-location-on" style="margin-left:5px;"></span>{{ topic.place }}
								{% endif %}
								{% if topic.date %}
								<span class="mdi-editor-insert-invitation" style="margin-left:5px;"></span>{{ topic.date }}
								{% endif %}
								{% if topic.time %}
								<span class="mdi-action-query-builder" style="margin-left:5px;"></span>{{ topic.time }}
								{% endif %}
							</h5>
							{% if topic.deadline %}
							{% if topic.expired %}
							<h5 class="list-group-item-text"><span class="mdi-notification-event-busy" style="margin-left:5px;"></span><span>{{lang.topic_overview.deadline_reach}}</span></h5>
							{% else %}
							<h5 class="list-group-item-text" style="margin-left:5px;"><span class="mdi-notification-event-busy"></span>
								<span>
									{% if topic.time_before_deadline.days != 0 %}
									{{ topic.time_before_deadline.days }} {{lang.days}} 
									{% endif %}
									{% if topic.time_before_deadline.hours != 0 %}
									{{ topic.time_before_deadline.hours }} {{lang.hours}} 
									{% endif %}
									{% if topic.time_before_deadline.minutes != 0 %}
									{{ topic.time_before_deadline.minutes }} {{lang.minutes}} 
									{% endif %}
										<!-- {% if topic.time_before_deadline.seconds != 0 %}
											{{ topic.time_before_deadline.seconds }} seconds 
											{% endif %} -->
										</span>
									</h5>
									{% endif %}
									{% endif %}
						<!-- {% if topic.is_own %}
							<div style="float:right;">
								<button id="delete-topic" title="Delete this topic" href="/group/{{ group.key.id }}/topic/{{ topic.key.id }}/remove" class="btn btn-danger mdi-action-delete"></button>
							</div>
							{% endif %} -->
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>