<div class="jumbotron" style="background-color: #f44336; max-width: 900px; margin-right: 20px; margin-left: 20px;">
	<h1 style="margin-top:-15px;color:#000000">{{group.name}}</h1>
	<div class="row">
		<div class="col-lg-5">
			{% if group.data.has_image %}
				<img src="/group/{{group.key.id}}/image" alt="icon" style="max-width:100%;max-height:175px;margin-top:5px;">
			{% else %}
				<img src="/static/images/group-default-240x240.jpg" alt="icon" style="max-width:100%;max-height:175px;margin-top:5px;">
			{% endif %}
		</div>
		<div class="col-lg-5">
			<h2><small style="color:#000">{{group.data.description}}</small></h2>
		</div>
		<div class="col-lg-1">
			<button type="submit" class="btn btn-info btn-fab btn-raised mdi-social-people" data-toggle="modal" data-target="#addMembers"></button>
		</div>
	</div>
</div>
<script>
	$('span#group_name').html(group.data.name);
	$('input#groupId').val(group.data.id);
	var member_list = $('div#member_list');
	member_list.html('');
</script>
<div id="member-list">
{% for member in group.members %}
		<div class="list-group-item">
			<div class="row-picture">
				<img class="circle" src="/static/images/user-default.jpg" alt="icon">
			</div>
			<div class="row-content">
				<h4 class="list-group-item-heading">{{member.name}} {{member.surname}}</h4>
				<p>{{member.email}}</p>
				<form action="/group/'+group.data.id+'/members/remove" method="POST">
					<input type="text" id="email" name="email" value="'+member.data.email+'" hidden>
					<div class="least-content">
						<button type="submit" class="btn btn-danger btn-fab btn-raised mdi-action-delete"></button>
					</div>
				</form>
			</div>
			<div class="list-group-separator"></div>'
		</div>
{% endfor %}
</div>
<br>
<div class="list-group">
	<div class="list-group-item">
		<div class="row" style="margin-left:25px;">
			<div class="row-content">
				<h2>Topics</h2>
				<div class="least-content">
					<button class="btn btn-fab btn-raised btn-material-blue" data-toggle="modal" data-target="#createTopic" style="background-color:#2196F3;">
						<i class="mdi-content-add" ></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>'
<script>
	get_topic_list(group.topics, false)
	$('form#add-member-form').attr('action', '/group/'+group.data.id+'/members/add');
</script>