<script>
	$(document).ready(function() {
		$('div.group-well').on('click', function() {
			/*
			if($(window).width()<768) {
				$('#collapse-button').click();
			}
			*/
			if ($(this).hasClass("group-selected")) {
				$('div.group-well').removeClass('group-selected');
				load_all_topics();
			}
			else {
				$('div.group-well').removeClass('group-selected');
				$(this).addClass('group-selected');
				load_group_topics($(this).data('group_id'));
			}
		});
		/*
		$.ajax({
			url: '/api/groups-notifications',
			method: "GET",
			dataType: "json",
			success: function(notifications) {
				function _get_group_name(group_id) {
					var h3 = $('div.group-well[data-group_id="'+group_id+'"] h3');
					if (h3.find('span').length > 0)
						group_name = h3.find('span').attr('title');
					else
						group_name = h3.html();
					return group_name.trim();
				}
				var messages = [];
				$.each(notifications, function(group_id, group_notifications) {
					var group_name = null
					if (group_notifications.topic_creations > 0) {
						if (group_name == null)
							group_name = _get_group_name(group_id);
						messages.push('Group "'+group_name+'" has '+group_notifications.topic_creations+' topics created.');
					}
					if (group_notifications.group_invitations > 0) {
						if (group_name == null)
							group_name = _get_group_name(group_id);
						messages.push('Group "'+group_name+'" has '+group_notifications.group_invitations+' group invitations for you.');
					}
				});
				if (messages.length > 0) {
					alert('You have some notifications!\n\n'+messages.join('\n'));
				}
			}
		});
		*/
		print_groups_notifications();
	});
</script>
<div class="list-group">
	{% if not groups %}
	<p>{{lang.groups.no_groups}}</p>
	{% endif %}
	{% for group in groups%}
	<div class="list-group-item">
		<div class="well well-lg group-well" color="green_g" data-group_id="{{ group.key.id }}" style="padding:0px; padding-top:9px; padding-left:9px; cursor: pointer; max-width:900px;">
			<div class="row">
				<div class="col-lg-10">
					<div class="row-picture">
						{% if group.img != None %}
							<img class="circle" src="/group/{{ group.key.id }}/image" alt="icon">
						{% else %}
							<img class="circle" src="/static/images/group-default.jpg" alt="icon">
						{% endif %}
					</div>
					<div class="row-content">
						<h3 class="list-group-item-heading">
							{% if group.name_short %}
							<span title="{{ group.name }}">{{group.name_short}}...</span>
							{% else %}
							{{ group.name }}
							{% endif %}
						</h3>
						<span class="notifications">...</span>
					</div>
				</div><!-- /col-lg-10 -->
			</div><!-- /row -->
		</div><!-- /list-group-item -->
	</div>
	{% endfor %}
</div><!-- /list-group -->