<script>
	$(document).ready(function() {
		$('form.remove-member-form').ajaxForm({
			dataType: "json",
			beforeSubmit: function() {
				return confirm('{{lang.group_members.warning_delete}}'); 
				//$('button#add-member-button').attr("disabled", true);
			},
			error: function() {
				alert("{{lang.general_error}}");
				//$('button#add-member-button').attr("disabled", false);
			},
			success: function(response) {
				if (response.success) {
					$('div#member_list:not(div.group-overview div#member-list)').html('<div class="loader"></div>');
					$('div#member_list:not(div.group-overview div#member-list)').load('/html/group/'+response.group_id+'/members');
				} else {
					alert(response.error);
				}
				//$('button#add-member-button').attr("disabled", false);
			}
		});
	});
</script>

<div class="group-members">
	{% for member in group.member_list %}
	<div class="list-group-item">
		<div class="row-picture">
			{% if member.img %}
			<img class="circle" src="/user/{{member.key.id}}/image?width=128&height=128" alt="icon">
			{% else %}
			<img class="circle" src="/static/images/user-default.jpg" alt="icon">
			{% endif %}
		</div>
		<div class="row-content">
			<h4 class="list-group-item-heading">{{member.name}} {{member.surname}}</h4>
			<p>{{member.email}}</p>
			{% if admin or user.key.id == member.key.id %}
			<form class="remove-member-form" action="/api/group/{{ group.key.id }}/members/remove" method="POST">
				<input type="text" id="email" name="email" value="{{ member.email }}" hidden>
					<style type="text/css">
						@media screen and (max-width: 768px) {
							button#remove-member {
								width:35px;
								height:35px;
								font-size:20px;
								padding:0;
							}
						} 
					</style>
					<button id="remove-member" type="submit" class="btn btn-danger btn-fab btn-raised mdi-action-delete" style="position:absolute;top:10px;right:10px;"></button>
			</form>
			{% endif %}
		</div>
		<div class="list-group-separator"></div>
	</div>
	{% endfor %}
</div>