<script src="/static/js/vote-functions.js"></script>
<script>
$(document).ready(function() {
	$('button#delete-topic').on('click', function() {
		if (confirm("Are you sure to delete this topic?")) {
			$.ajax({
				url: '/api/group/{{ topic.parent.key.id }}/topic/{{ topic.key.id }}/remove',
				method: 'POST',
				dataType: 'json',
				error: function() {
					alert("Errore inaspettato!");
				},
				success: function(response) {
					if (response.success) {
						load_group_topics(response.group_id);
					} else {
						alert(response.error);
					}
				}
			});
		}
	});
	$('input#proposal_popup_group_id').val("{{ topic.group.key.id }}");
	$('input#proposal_popup_topic_id').val("{{ topic.key.id }}");
	$('#creation-buttons').html('');
	$('#creation-buttons').append(buttons.create_proposal);
	$('#creation-buttons').append(buttons.create_topic);
	$('#creation-buttons').append(buttons.create_group);
	
	{% if topic.place != "" %}
		$('div#proposal_place_div').hide();
	{% else %}
		$('div#proposal_place_div').show();
	{% endif %}
	{% if topic.date %}
		$('div#proposal_date_div').hide();
	{% else %}
		$('div#proposal_date_div').show();
	{% endif %}
	{% if topic.time %}
		$('div#proposal_time_div').hide();
	{% else %}
		$('div#proposal_time_div').show();
	{% endif %}
	
	{% if topic.expired %}
		$('button#create-proposal-button').attr("disabled", true);
	{% else %}
		$('button#create-proposal-button').attr("disabled", false);
	{% endif %}
	
	$('.vote-checkbox').on('click', function(e) {

		var group_id = {{ topic.parent.key.id }};
		var topic_id = {{ topic.key.id }};
		var proposal_id = $(this).data("proposal");

		$("span.vote-number[data-proposal='" + proposal_id +"']").html("...");
		success_callback = function(response) {
			$("span.vote-number[data-proposal='" + proposal_id +"']").html(response.vote_number);
			$("button.vote-checkbox[data-proposal='" + proposal_id +"']").removeClass("proposal-pending-vote disabled");
		};

		$(this).toggleClass("proposal-voted proposal-not-voted");
		$(this).addClass("proposal-pending-vote disabled")
		if ($(this).hasClass("proposal-voted"))
			add_vote(group_id, topic_id, proposal_id, success_callback);
		else
			remove_vote(group_id, topic_id, proposal_id, success_callback);

		if (e.stopPropagation) {
				e.stopPropagation();   // W3C model
			} else {
				e.cancelBubble = true; // IE model
			}
	});
});
</script>
<div class="topic-overview">
	<div class="jumbotron" style="max-width:900px; background-color:#2196F3;padding:0px;padding-left:18px;">
		<h1 style="word-wrap:break-word;padding-top:5px;">{{ topic.title }}</h1>
		{% if topic.expired %}
		<p style="color: red;">This topic has reached its deadline: you cannot vote its proposals anymore.</p>
		{% else %}
		{% if topic.time_before_deadline %}
		<p>Deadline: {{ topic.deadline }}</p>
		<p>Time before deadline: 
			<span style="color: red">
				{% if topic.time_before_deadline.days != 0 %}
				{{ topic.time_before_deadline.days }} days
				{% endif %}
				{% if topic.time_before_deadline.hours != 0 %}
				{{ topic.time_before_deadline.hours }} hours
				{% endif %}
				{% if topic.time_before_deadline.minutes != 0 %}
				{{ topic.time_before_deadline.minutes }} minutes
				{% endif %}
				{% if topic.time_before_deadline.seconds != 0 %}
				{{ topic.time_before_deadline.seconds }} seconds
				{% endif %}
			</span>
		</p>
		{% endif %}
		{% endif %}
		<div class="row">
			<div class="col-lg-5">
				{% if topic.img != None %}
				<img src="/group/{{ topic.parent.key.id }}/topic/{{ topic.key.id }}/image" style=" display: inline-block; max-height: 175px; max-width: 100%;">
				<br><br>
				{% endif %}
				{% if topic.img == None %}
				<i>No image available</i>
				<br><br>
				{% endif %}
			</div>
			<div class="col-lg-3"><p style="word-wrap:break-word;">{{ topic.description }}</p></div>
			<div class="col-lg-4">
				<p><span class="mdi-action-account-box"></span> {{ topic.creator.name }} {{ topic.creator.surname }}</p>
				{% if topic.place != "" %}
				<p><span class="mdi-communication-location-on"></span> {{ topic.place }}</p>
				{% endif %}
				{% if topic.date %}
				<p><span class="mdi-editor-insert-invitation"></span> {{ topic.date }}</p>
				{% endif %}
				{% if topic.time %}
				<p><span class="mdi-action-query-builder"></span> {{ topic.time }}</p>
				{% endif %}
			</div>
		</div>
		{% if topic.is_own %}
		<div class="row">
			<div class="col-lg-10"></div>
			<div class="col-lg-2" style="padding:0px;">
				<button id="delete-topic" title="Delete this topic" class="btn btn-danger mdi-action-delete" style="margin-left:20px;"></button>
			</div>
		</div>
		{% endif %}
	</div>

	<div class="list-group">
		<h2>Proposals</h2>
		{% for proposal in topic.proposals %}
		<div class="list-group-item">
			<div data-proposal="{{ proposal.key.id }}" class="well well-lg proposal-well" color="green" style="cursor: pointer;padding: 10px 0px 0px 25px;">
				<div class="row">
					<!-- interno proposta -->
					<div class="row-picture">
						<img class="circle" src="/static/images/user-default.jpg" alt="icon">
					</div>
					<div class="row-content">
						<div class="col-lg-11">
							<h3 style="font-size:20px;padding-bottom:5px;margin:0px;">
								{{ proposal.title }}
							</h3>
							{% if proposal.place %}
							<span class="mdi-communication-location-on" style="margin-left:5px;"></span> {{ proposal.place }}
							{% endif %}
							{% if proposal.date %}
							<span class="mdi-editor-insert-invitation" style="margin-left:5px;"></span> {{ proposal.date }}
							{% endif %}
							{% if proposal.time %}
							<span class="mdi-action-query-builder" style="margin-left:5px;"></span> {{ proposal.time }}
							{% endif %}
							<span class="mdi-action-account-box" style="margin-left:5px;"></span> {{ proposal.creator.name }} {{ proposal.creator.surname }}
							<span class="proposal-details-message" data-proposal="{{ proposal.key.id }}" style="display: none;"><small> (Loading...)</small></span>
							<div class="proposal-details" data-proposal="{{ proposal.key.id }}" style="display: none;">
								<p></p>
								<a href="/group/{{ topic.parent.key.id }}/topic/{{ topic.key.id }}/proposal/{{ proposal.key.id }}" style="color:red"><button class="btn btn-default btn-raised">View details</button></a>
							</div>
						</div>
						<div class="least-content" style="margin-top: 15px; margin-right: 15px;">
							<b>Votes: </b><span class="badge vote-number" data-proposal="{{ proposal.key.id }}">{{ proposal.vote_number }}</span>&nbsp;
							{% if not topic.expired %}
							<button id="vote" data-proposal="{{ proposal.key.id }}" type="checkbox" class="btn btn-default btn-fab btn-raised mdi-action-thumb-up vote-checkbox {% if proposal.already_voted %}proposal-voted{% else %}proposal-not-voted{% endif %}" style="width: 40px; height: 40px;  padding: 8px;"></button>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>