<script src="/static/js/vote-functions.js"></script>
<script>
function initialize_proposal_map(id, place) {
	if (typeof google != "undefined") {
		var geocoder = new google.maps.Geocoder();
		var address_proposal = place;

		geocoder.geocode( { 'address': address_proposal}, function(results, status) {

			if (status == google.maps.GeocoderStatus.OK) {
				var latitude = results[0].geometry.location.lat();
				var longitude = results[0].geometry.location.lng();


				var latlng = new google.maps.LatLng(latitude,longitude);

				var myOptions = {
					zoom: 14,
					center: latlng,
					mapTypeId: google.maps.MapTypeId.ROADMAP,
					mapTypeControl: false
				};

				var map = new google.maps.Map($('#map_canvas_proposal[data-proposal="'+id+'"]')[0],myOptions);
				
				var marker = new google.maps.Marker({
					position: latlng, 
					map: map, 
					title: place
				});
				window.setTimeout(function() {
					google.maps.event.trigger(map, 'resize');
					map.panTo(marker.getPosition());
				}, 250
				);
			}
			else {
				$('#map_canvas_proposal[data-proposal="'+id+'"]').css('display', 'none');
			}
		});
	}
	else {
		$('#map_canvas_proposal[data-proposal="'+id+'"]').css('height', 'auto');
		$('#map_canvas_proposal[data-proposal="'+id+'"]').html('<p><span class="mdi-communication-location-off" style="margin-left:5px;"></span> Mappa non disponibile</p>');
	}
};

function initialize_topic_map(id, place) {
	if (typeof google != "undefined") {
		var geocoder = new google.maps.Geocoder();
		var address_topic = '{{ topic.place }}';


	    geocoder.geocode( { 'address': address_topic}, 
	    	function(results, status) {

		      if (status == google.maps.GeocoderStatus.OK) {
		        var latitude = results[0].geometry.location.lat();
		        var longitude = results[0].geometry.location.lng();


		        initialize_topic_place(latitude,longitude);

		       }
		      else {
		       	$('#map_canvas_topic').css('display', 'none');
		       } 
			}); 

		function initialize_topic_place(latitude,longitude) {
		        var latlng = new google.maps.LatLng(latitude,longitude);

		        var myOptions = {
		          zoom: 14,
		          center: latlng,
		          mapTypeId: google.maps.MapTypeId.ROADMAP,
		          mapTypeControl: false
		        };
		        var map = new google.maps.Map(document.getElementById("map_canvas_topic"),myOptions);

		        var marker = new google.maps.Marker({
		          position: latlng, 
		          map: map, 
		            title:"{{ topic.place }}"
		        });
		        window.setTimeout(function() {
					google.maps.event.trigger(map, 'resize');
					map.panTo(marker.getPosition());
				}, 250);
		}
	}
	else {
		$('#map_canvas_topic').css('height', 'auto');
		$('#map_canvas_topic').html('<p><span class="mdi-communication-location-off" style="margin-left:10px;"></span> Mappa non disponibile</p>');
	}
};

$(document).ready(function() {
	// popup topic personal settings
	$('form#notificationTopic-form').attr('action', '/api/group/{{topic.group.id }}/topic/{{topic.key.id}}/update-personal-settings');
	// popup edit topic
	$('form#updateInfoTopic-form').attr('action', '/api/group/{{topic.group.id }}/topic/{{topic.key.id}}/update');
	resetForm('updateInfoTopic-form');
	// end-popup edit topic
	//Button delete group
	{% if topic.is_own %}
	$('span#delete-topic-button').html('<button type="button" id="delete-topic" title="{{lang.buttons.delete_topic_title}}" class="btn btn-danger btn-raised mdi-action-delete" style="background-color:#DB4438"></button>');
	{% else %}
	$('span#delete-topic-button').html('');
	{% endif %}
	// end-popup edit group
	// personal settings
	{% if personal_settings.proposal_creation_email %}
		$('form#notificationTopic-form input#proposal_creation_email').attr('checked', true);
	{% else %}
		$('form#notificationTopic-form input#proposal_creation_email').attr('checked', false);
	{% endif %}
	// end personal settings
	$('#topic_image').css('width', '99%');$('#topic_image').css('width', '100%');
	$('input#groupId').val("{{ topic.group.id }}");
	$('#back-button').on('click', function(e) {
		load_group_topics('{{ topic.group.id }}');
	});
	$('button#delete-topic').on('click', function() {
		if (confirm("Are you sure to delete this topic?")) {
			$.ajax({
				url: '/api/group/{{ topic.group.id }}/topic/{{ topic.key.id }}/remove',
				method: 'POST',
				dataType: 'json',
				error: function() {
					alert("Errore inaspettato!");
				},
				success: function(response) {
					if (response.success) {
						$('#updateInfoTopic').modal('hide');
						load_group_topics(response.group_id);
					} else {
						alert(response.error);
					}
				}
			});
		}
	});

	$("div.topic-well").on("click", function() {
		var topic_id = $(this).data("topic");
		var is_open = $("div.topic-details[data-topic='" + topic_id +"']").is(":visible");
		$("div.topic-details[data-topic='" + topic_id +"']").toggle({duration: 400});
		initialize_topic_map(topic_id, $(this).data("place"));
		
		if(is_open){
			$("div.topic-arrow[data-topic-arrow='" + topic_id +"']").html('<span class="mdi-hardware-keyboard-arrow-down"></span>');
		}else{
			$("div.topic-arrow[data-topic-arrow='" + topic_id +"']").html('<span class="mdi-hardware-keyboard-arrow-up"></span>');
		}
		
	});

	$("div.proposal-well").on("click", function() {
		var proposal_id = $(this).data("proposal");
		var is_open = $("div.proposal-details[data-proposal='" + proposal_id +"']").is(":visible");
		$("div.proposal-details[data-proposal='" + proposal_id +"']").toggle({duration: 400});
		initialize_proposal_map(proposal_id, $(this).data("place"));
		
		if(is_open){
			$("div.proposal-arrow[data-proposal-arrow='" + proposal_id +"']").html('<span class="mdi-hardware-keyboard-arrow-down"></span>');
		}else{
			$("div.proposal-arrow[data-proposal-arrow='" + proposal_id +"']").html('<span class="mdi-hardware-keyboard-arrow-up"></span>');
		}
	});


	$('input#proposal_popup_group_id').val("{{ topic.group.id }}");
	$('input#proposal_popup_topic_id').val("{{ topic.key.id }}");
	$('#creation-buttons').html('');
	$('#creation-buttons').append(buttons.create_proposal);
	$('#creation-buttons').append(buttons.create_topic);
	$('#creation-buttons').append(buttons.create_group);
	
	{% if topic.place != "" %}
	$('div#proposal_place_div').hide();
	{% else %}
	$('div#proposal_place_div').show();
	{% endif %}
	{% if topic.date %}
	$('div#proposal_date_div').hide();
	{% else %}
	$('div#proposal_date_div').show();
	{% endif %}
	{% if topic.time %}
	$('div#proposal_time_div').hide();
	{% else %}
	$('div#proposal_time_div').show();
	{% endif %}
	
	{% if topic.expired %}
	$('button#create-proposal-button').attr("disabled", true).css('background-color', '#888888');
	{% endif %}
	
	$('.vote-checkbox').on('click', function(e) {

		var group_id = {{ topic.group.id }};
		var topic_id = {{ topic.key.id }};
		var proposal_id = $(this).data("proposal");

		$("span.vote-number[data-proposal='" + proposal_id +"']").html("...");
		success_callback = function(response) {
			$("span.vote-number[data-proposal='" + proposal_id +"']").html(response.vote_number);
			$("button.vote-checkbox[data-proposal='" + proposal_id +"']").removeClass("proposal-pending-vote disabled");
		};

		$(this).toggleClass("proposal-voted proposal-not-voted");
		$(this).addClass("proposal-pending-vote disabled")
		if ($(this).hasClass("proposal-voted"))
			add_vote(group_id, topic_id, proposal_id, success_callback);
		else
			remove_vote(group_id, topic_id, proposal_id, success_callback);

		if (e.stopPropagation) {
			e.stopPropagation();   // W3C model
		} else {
			e.cancelBubble = true; // IE model
		}
	});

	$('#topic-participation').on('click', function(e) {
		$(this).toggleClass('btn-success btn-warning mdi-toggle-check-box mdi-toggle-check-box-outline-blank');
		$(this).addClass('disabled')
		$('span#participation-text').html('Changing...');
		var checked = $(this).hasClass('btn-success');
		$(this).attr('disabled', true)
		if (checked) {
			$.ajax({
				url: '/api/group/{{ topic.group.id }}/topic/{{ topic.key.id }}/add-participation',
				method: 'POST',
				dataType: 'json',
				success: function(response) {
					if (response.success) {
						load_topic(response.group_id, response.topic_id);
					} else {
						alert("Error");
					}
				}
			})
		} else {
			$.ajax({
				url: '/api/group/{{ topic.group.id }}/topic/{{ topic.key.id }}/remove-participation',
				method: 'POST',
				dataType: 'json',
				success: function(response) {
					if (response.success) {
						load_topic(response.group_id, response.topic_id);
					} else {
						alert("Error");
					}
				}
			})
		}
		if (e.stopPropagation) {
			e.stopPropagation();   // W3C model
		} else {
			e.cancelBubble = true; // IE model
		}
	});

	$('button#edit-topic').on('click', function(e) {
		$('#updateInfoTopic').modal('show');
		if (e.stopPropagation) {
			e.stopPropagation();   // W3C model
		} else {
			e.cancelBubble = true; // IE model
		}
	});

	$('button#notification-topic').on('click', function(e) {
		$('#notificationTopic').modal('show');
		if (e.stopPropagation) {
			e.stopPropagation();   // W3C model
		} else {
			e.cancelBubble = true; // IE model
		}
	});

	$('.proposal-map').on('click', function(e) {
	    if (e.stopPropagation) {
			e.stopPropagation();
		} else {
			e.cancelBubble = true;
		}
	});
	$('.topic-map').on('click', function(e) {
	    if (e.stopPropagation) {
			e.stopPropagation();
		} else {
			e.cancelBubble = true;
		}
	});

/* Prova per non propagare il click quando clicco sul voto*/
	$('button#vote-button').on('click', function(e) {

		var group_id = {{ topic.group.id }};
		var topic_id = {{ topic.key.id }};
		var proposal_id = $(this).data("proposal");

		$.ajax({
			url: '/api/load-proposal',
			method: 'GET',
			data: { group_id: group_id, topic_id : topic_id, proposal_id: proposal_id} , 
			dataType: 'json',
			error: function() {
				alert("{{lang.general_error}}");
			},
			success: function(response) {
				
				$("#prosalPopupTitle").html(response.proposal.title);

				$("#proposalPopup").html("");
				if(response.proposal.place != undefined){
					$("#proposalPopup").append('<span class="mdi-communication-location-on" style="margin-left:5px;"> '+response.proposal.place+' </span>');
				};

				if(response.proposal.date != undefined){
					$("#proposalPopup").append('<span class="mdi-editor-insert-invitation" style="margin-left:5px;"> '+response.proposal.date+' </span>');
				};

				if(response.proposal.time != undefined){
					$("#proposalPopup").append('<span class="mdi-action-query-builder" style="margin-left:5px;"> '+response.proposal.time+' </span>');
				};
				if (response.proposal.creator != null)
					$("#proposalPopup").append('<span class="mdi-action-account-box" style="margin-left:5px;"> '+response.proposal.creator.name+' '+response.proposal.creator.surname+' </span>');
				else
					$("#proposalPopup").append('<span class="mdi-action-account-box" style="margin-left:5px;"><i> {{ lang.unknown_user }} </i></span>');
				
				/*"<li>"+response.proposal.place+"</li>"+"<li>"+response.proposal.date+"</li>"+"<li>"+response.proposal.time+"</li>");*/

				$('#voteList').modal('show');
				$('#member-vote-list').html('Loading...');
				var success_callback = function(response) {
					$('#member-vote-list').html('');
					if (response.votes.length == 0){
						$('#message').html('<h3>{{lang.proposal.proposal_no_vote_message}}</h3>');
					} else {
						$('#message').html('<h3>{{lang.proposal.proposal_vote_message}}</h3>');
				
						$.each(response.votes, function(index, vote) {
							var str = '<div class="list-group-item"><div class="row-picture">';
							if (vote.creator == null) {
								str += '<img class="circle" src="/static/images/user-default.jpg" alt="icon">';
								str += '</div><div class="row-content"><h3 class="list-group-item-heading"><i>{{lang.unknown_user}}</i></h3></div></div><div class="list-group-separator"></div>'
							} else {
								if (vote.creator.data.has_image)
									str += '<img class="circle" src="/user/'+vote.creator.data.id+'/image?width=64&height=64" alt="icon">';
								else
									str += '<img class="circle" src="/static/images/user-default.jpg" alt="icon">';
								str += '</div><div class="row-content"><h3 class="list-group-item-heading">'+vote.creator.data.name+' '+vote.creator.data.surname+'</h3></div></div><div class="list-group-separator"></div>'
							}
							$('#member-vote-list').append(str);
						});
					}
				}
				load_votes("{{ topic.group.id }}", "{{ topic.key.id }}", proposal_id, success_callback);
			}
		});
	
		if (e.stopPropagation) {
			e.stopPropagation();   // W3C model
		} else {
			e.cancelBubble = true; // IE model
		}
	});
	
	// Popup commenti
	$('button#comments-button').on('click', function(e) {

		var group_id = {{ topic.group.id }};
		var topic_id = {{ topic.key.id }};
		var proposal_id = $(this).data("proposal");

		$.ajax({
			url: '/api/group/'+group_id+'/topic/'+topic_id+'/proposal/'+proposal_id,
			method: 'GET',
			data: {
				fetch_comments: "true"
			}, 
			dataType: 'json',
			error: function() {
				alert("{{lang.general_error}}");
			},
			success: function(proposal) {
				
				if ($('form#new-comment-form').length > 0) {
					$('form#new-comment-form').attr('action', '/api/group/{{topic.group.id }}/topic/{{topic.key.id}}/proposal/'+proposal.id+'/add-comment');
					$('form#new-comment-form')[0].reset();
				}
				
				$(".proposal_title").html(proposal.title);

				$("#proposal_comments_popup").html("");
				if (proposal.creator != null)
					$("#proposal_comments_popup").append('<span class="mdi-action-account-box" style="margin-left:5px;"> '+proposal.creator.data.name+' '+proposal.creator.data.surname+' </span>');
				else
					$("#proposal_comments_popup").append('<span class="mdi-action-account-box" style="margin-left:5px;"><i> {{ lang.unknown_user }} </i></span>');

				$('#commentList').modal('show');
				$('#proposal_comment_list').html('');
				if (proposal.comments.length == 0) {
					$('#comments_popup_message').html('<h3>{{ lang.comment_list_popup.no_comments_yet }}.</h3>');
				} else {
					$('#comments_popup_message').html('<h3>{{ lang.comment_list_popup.comments }}:</h3>');
			
					$.each(proposal.comments, function(index, comment) {
						var str = '<div class="list-group-item"><div class="row-picture">';
						if (comment.creator == null) {
							str += '<img class="circle" src="/static/images/user-default.jpg" alt="icon">';
							str += '</div><div class="row-content"><h3 class="list-group-item-heading"><i>{{lang.unknown_user}}</i></h3></div></div><div class="list-group-separator"></div>'
						} else {
							if (comment.creator.data.has_image)
								str += '<img class="circle" src="/user/'+comment.creator.data.id+'/image?width=64&height=64" alt="icon">';
							else
								str += '<img class="circle" src="/static/images/user-default.jpg" alt="icon">';
							str += '</div><div class="row-content"><h3 class="list-group-item-heading">'+comment.creator.data.name+' '+comment.creator.data.surname+' ('+comment.creation+')</h3>'+comment.description+'</div></div><div class="list-group-separator"></div>'
						}
						$('#proposal_comment_list').append(str);
					});
				}
			}
		});
	
		if (e.stopPropagation) {
			e.stopPropagation();   // W3C model
		} else {
			e.cancelBubble = true; // IE model
		}
	});
	// Popup commenti
	
	/* Prova per mostrare la lista dei partecipanti*/
	$('button#participants-button').on('click', function(e) {

		var group_id = {{ topic.group.id }};
		var topic_id = {{ topic.key.id }};
		$('#member-participants-list').html('Loading...');

		$.ajax({
			url: '/api/group/'+group_id+'/topic/'+topic_id+'/participants',
			method: 'GET',
			data: { group_id: group_id, topic_id : topic_id} , 
			dataType: 'json',
			error: function() {
				alert("{{lang.general_error}}");
			},
			success: function(users) {
				
				$('#participantsPopupTitle').html("{{topic.title}}");

				$("#participantsTopicPopup").html("");

				{% if topic.place != ""%}
					$("#participantsTopicPopup").append('<span class="mdi-communication-location-on" style="margin-left:5px;"> {{topic.place}} </span>');
				{%endif %}


				{% if topic.date %}
					$("#participantsTopicPopup").append('<span class="mdi-editor-insert-invitation" style="margin-left:5px;"> {{topic.date}} </span>');
				
				{%endif%}

				{% if topic.time %}
					$("#participantsTopicPopup").append('<span class="mdi-action-query-builder" style="margin-left:5px;"> {{topic.time}} </span>');
				
				{%endif%}
				$("#participantsTopicPopup").append('<span class="mdi-action-account-box" style="margin-left:5px;">{% if topic.creator.get %} {{topic.creator.get.name}} {{topic.creator.get.surname}} {% else %}<i> {{lang.unknown_user}} </i>{% endif %}</span>');


				$('#participantsList').modal('show');
				$('#member-participants-list').html('');
				if (users.length == 0){
					$('#participants-message').html('<h3>{{lang.participants.no_participants_message}}</h3>');
				} else {
					$('#participants-message').html('<h3>{{lang.participants.participants_message}}</h3>');
			
					$.each(users, function(index, user) {
						var str = '<div class="list-group-item"><div class="row-picture">';
						if (user.data.has_image)
							str += '<img class="circle" src="/user/'+user.data.id+'/image?width=64&height=64" alt="icon">';
						else
							str += '<img class="circle" src="/static/images/user-default.jpg" alt="icon">';
						str += '</div><div class="row-content"><h3 class="list-group-item-heading">'+user.data.name+' '+user.data.surname+'</h3></div></div><div class="list-group-separator"></div>'
						$('#member-participants-list').append(str);
					});
				}

			}
		});
		if (e.stopPropagation) {
			e.stopPropagation();   // W3C model
		} else {
			e.cancelBubble = true; // IE model
		}
	});

	$('#updateInfoTopic-form').ajaxForm({
		dataType: "json",
		beforeSubmit: function() {
			$('#edit-image').attr("disabled", true);
		},
		clearForm: true,
		error: function() {
			alert("{{ lang.general_error }}");
		},
		success: function(response) {
			if (response.success) {
				load_topic(response.group_id, response.topic_id);
				$('#updateInfoTopic').modal('hide');
			} else {
				alert(response.error);
			}
			$('#edit-image').attr("disabled", false);
		}
	});
	
	// new comment form
	if ($('form#new-comment-form').length > 0) {
		$('form#new-comment-form').ajaxForm({
			dataType: "json",
			beforeSubmit: function() {
				$('button#add-comment').attr("disabled", true);
			},
			clearForm: true,
			error: function() {
				alert("{{ lang.general_error }}");
				$('button#add-comment').attr("disabled", false);
			},
			success: function(response) {
				if (response.success) {
					var str = '<div class="list-group-item"><div class="row-picture">';
					if (response.comment_creator == null) {
						str += '<img class="circle" src="/static/images/user-default.jpg" alt="icon">';
						str += '</div><div class="row-content"><h3 class="list-group-item-heading"><i>{{lang.unknown_user}}</i></h3></div></div><div class="list-group-separator"></div>'
					} else {
						if (response.comment_creator.data.has_image)
							str += '<img class="circle" src="/user/'+response.comment_creator.data.id+'/image?width=64&height=64" alt="icon">';
						else
							str += '<img class="circle" src="/static/images/user-default.jpg" alt="icon">';
						str += '</div><div class="row-content"><h3 class="list-group-item-heading">'+response.comment_creator.data.name+' '+response.comment_creator.data.surname+' ('+response.comment_creation+')</h3>'+response.comment_description+'</div></div><div class="list-group-separator"></div>'
					}
					$('#proposal_comment_list').append(str);
				} else {
					alert(response.error);
				}
				$('button#add-comment').attr("disabled", false);
			}
		});
	}
	// new comment form
	
	$('#edit-cancel').on('click', function() {
		resetForm("updateInfoTopic-form");
	});

	$.material.init();
	
	clean_topic_notifications("{{ topic.group.id }}", "{{ topic.key.id }}");
});
</script>	

<style type="text/css">

	div#topic-col-dx-well{
		margin-top: -30px;
	}
	div#topic-img-well{
		margin-bottom: 4px;
		margin-top: -6px;
		margin-left: -6px;						    	
	}
	div#topic-row-content-well{
	    	margin-top: 10px;
	}
	p.topic-attribute{
    	font-size:15px;
    	margin:0;
    }
    div#topic-footer{
    	border-top: none;
    	padding: 0px 0px 6px 0px;
    	text-align: right;
    }

	@media screen and (max-width: 768px) {
	    h2#topic-name-well{
	        font-size:22px;
	    }
	    div#topic-col-dx-well{
	    	margin-left: -20px;
	    }
	    div#topic-img-well{
		    width: 40%;
	    }
	    div#topic-row-content-well{
	    	width: 60%;
	    }
	    button#back-button {
	    	margin-top:-10px;
	    }
	    h2#proposals-head {
	    	margin-top: -20px;
	    }
	    h2#topic-name-well{
	    	margin-top: 14px;
	    	margin-bottom: 2px;
	    }
	    
	}
	@media screen and (min-width: 768px) {
		div#topic-col-dx-well{
		    	margin-left: -12px;
		    	padding-right: 0px;
		    }
	    div#topic-img-well{
		    width: 33%;
			margin-bottom: 4px;
			margin-top: -6px;
			margin-left: -6px;						    	
	    }
	    div#topic-row-content-well{
	    	width: 66%;
	    }
	    p.topic-attribute{
	    	margin-left: 10px;
	    }
	    div#topic-footer{
	    	margin-right: 19px;
	    }
	}
</style>

<button type="button" class="btn btn-raised mdi-hardware-keyboard-arrow-left" id="back-button" style="background-color:#00A65E;margin-left: 10px;"></button>
<div class="list-group">
	<div class="list-group-item">
		<div class="well well-lg topic-well" data-topic="{{ topic.key.id }}" data-place="{{ topic.place }}" color="blue" style="cursor: pointer;padding: 10px 0px 0px 25px;">
			<div class="row">
				<div id="topic-img-well" class="row-picture" style="">
					{% if topic.img != None %}
					<img id="topic_image" src="/group/{{ topic.group.id }}/topic/{{ topic.key.id }}/image" style="width:200px;height:100%;">
					{% else %}
					<img id="topic_image" src="/static/images/topic-icon.png" style="width:200px;height:100%;">
					{% endif %}
				</div>
				<div id="topic-row-content-well" class="row-content">
					<div id="topic-col-dx-well" class="col-lg-11">
						<h2 id="topic-name-well">
							{{ topic.title }}
						</h2>
						<p class="topic-attribute">
							<span class="mdi-action-account-box"></span>&nbsp;{% if topic.creator.get %}{{ topic.creator.get.name }} {{ topic.creator.get.surname }}{% else %}<i>{{ lang.unknown_user }}</i>{% endif %}
						</p>
						<p class="topic-attribute">
							{% if topic.formatted_date %}
							<span class="mdi-editor-insert-invitation"></span>&nbsp;{{ topic.formatted_date }}
							{% endif %}
						</p>						
						<p class="topic-attribute">
							{% if topic.time %}
							<span class="mdi-action-query-builder"></span>&nbsp;{{ topic.time }}
							{% endif %}
						</p>
						{% if topic.expired %}
						<p class="topic-attribute">{{lang.topic_overview.deadline_reach}}</p>
						{% else %}
						{% if topic.time_before_deadline %}
						<p class="topic-attribute">
							<span class="mdi-notification-event-busy"></span>&nbsp;
							<span>
								{% if topic.time_before_deadline.days != 0 %}
								{{ topic.time_before_deadline.days }} {{lang.days}}
								{% endif %}
								{% if topic.time_before_deadline.hours != 0 %}
								{{ topic.time_before_deadline.hours }} {{lang.hours}}
								{% endif %}
								{% if topic.time_before_deadline.minutes != 0 %}
								{{ topic.time_before_deadline.minutes }} {{lang.minutes}}
								{% endif %}
							</span>
						</p>
						{% endif %}
						{% endif %}
						{% if topic.place != "" %}
						<p class="topic-attribute"><span class="mdi-communication-location-on"></span>&nbsp;{{ topic.place }}</p>
						{% endif %}
					</div>
				</div>
			</div>
			<!-- Topic Accordion Details -->
			<span class="topic-details-message" data-topic="{{ topic.key.id }}" style="display: none;"><small> (Loading...)</small></span>

			<div class="topic-details modal-footer" data-topic="{{ topic.key.id }}" style="margin-right: 22px;margin-left: -5px;margin-top: 5px;border-top: none;padding: 0px;text-align: left;display: none;">
				{% if topic.description %}
				<p style="word-wrap:break-word;font-size:15px;margin-left:10px;"><span class="mdi-editor-format-align-left" ></span>&nbsp;{{ topic.description }}</p>
				{% else%}
				<span class="mdi-editor-format-align-left" style="margin-left:8px;"></span>{{lang.no_description}}
				{% endif %}
				{% if topic.place %}
				<div class="topic-map" id="map_canvas_topic" data-topic="{{ topic.key.id }}" style="width:97%; height:200px; margin-top:10px;margin-bottom: 14px;margin-left: 10px;"></div>
				{% endif %}
			</div>
			<!-- END Topic Accordion Details -->

			<div id="topic-footer" class="modal-footer">
				<!-- NOTIFICATION Button -->
				<button id="notification-topic" title="{{lang.buttons.notification_topic_title}}" type="button" class="btn btn-success btn-raised mdi-social-notifications" data-toggle="modal" data-target="#notificationTopic"  style="margin-bottom: 0px;background-color: #0F9D58;padding:7px;z-index:1;margin-right: 2px;"></button>
				<!-- /NOTIFICATION Button -->

				<!-- Edit Button -->
				<button id="edit-topic" type="button" class="btn btn-success btn-raised mdi-content-create" data-toggle="modal" data-target="#updateInfoTopic" title="{{lang.buttons.edit_topic_title}}" style="margin-bottom: 0px;background-color: #0F9D58;padding:7px;z-index:1;"></button>
				<!-- /Edit Button -->

				<button  title="{{lang.buttons.participants_title}}" data-toggle="modal" data-target="#participantsList" data-proposal="{{ topic.key.id }}" id="participants-button" class="btn btn-success btn-raised mdi-action-account-child" style="padding: 8px 14px;height: 28px;"></button>

				<button id="topic-participation" title="{% if topic.participation %}{{lang.buttons.not_partecipating_title}}{% else %}{{lang.buttons.partecipating_title}}{% endif %}" class="btn btn-raised {% if topic.participation %} btn-success mdi-action-thumb-up {% else %} btn-warning mdi-action-thumb-down{% endif %} {% if topic.expired %} disabled {% endif %}" style="padding: 8px;font-size:11px;margin-right: 8px;{% if topic.participation %} background-color: #0F9D58; {% else %} background-color: #DB4437; {% endif %}">&nbsp;<span id="participation-text">
					{% if not topic.participation %}
					{{lang.topic_overview.not_partecipating}}
					{%else%}
					{{lang.topic_overview.partecipating}}
					{% endif %}
				</span>
				</button>
				<div class="topic-arrow" data-topic-arrow="{{ topic.key.id }}" style="margin-bottom: -8px;text-align: center;font-size: 20px;">
					<span class="mdi-hardware-keyboard-arrow-down"></span>
				</div>
			</div>
		</div>
	</div>
</div>
  
<div class="list-group">
	<h2 id="proposals-head" style="margin-left:20px;">{{ lang.proposals }}</h2>
	{% if not topic.proposals %}
	<p style="margin-left:20px;">{{lang.no_proposals}}</p>
	{% endif %}
	{% for proposal in topic.proposals %}
	<div class="list-group-item">
		<div data-proposal="{{ proposal.key.id }}" data-place="{% if topic.place == '' %}{{ proposal.place }}{% endif %}" class="well well-lg proposal-well" color="yellow_g" style="cursor: pointer;padding: 10px 0px 0px 25px;">
			<div class="row">
				<!-- interno proposta -->
				<div class="row-picture">
					{% if proposal.creator.get.img %}
					<img class="circle" src="/user/{{proposal.creator.id}}/image?width=64&height=64" alt="icon">
					{% else %}
					<img class="circle" src="/static/images/user-default.jpg" alt="icon">
					{% endif %}
				</div>
				<div class="row-content">
					<div class="col-lg-11" style="width:70%;padding:0;">
						<h3 style="font-size:15px;padding-bottom:5px;margin:0px;">
							<b>{{ proposal.title }}</b>
						</h3>
						<span class="mdi-action-account-box" style="margin-left:5px;"></span> {% if proposal.creator.get %}{{ proposal.creator.get.name }} {{ proposal.creator.get.surname }}{% else %}<i>{{ lang.unknown_user }}</i>{% endif %}
						{% if topic.place == ""%}
						{% if proposal.place%}  
						<span class="mdi-communication-location-on" style="margin-left:5px;"></span> {{ proposal.place }}
						{% endif %}
						{% endif %}
						{% if topic.date == None %} 
						{% if proposal.formatted_date %}
						<span class="mdi-editor-insert-invitation" style="margin-left:5px;"></span> {{ proposal.formatted_date }}
						{% endif %}
						{% endif %}
						{% if topic.time == None%}
						{% if proposal.time%}
						<span class="mdi-action-query-builder" style="margin-left:5px;"></span> {{ proposal.time }}
						{% endif %}
						{% endif %}
						

						<span class="proposal-details-message" data-proposal="{{ proposal.key.id }}" style="display: none;"><small> (Loading...)</small></span>
						<div class="proposal-details" data-proposal="{{ proposal.key.id }}" style="display: none;">
							{% if topic.place == ""%}
							{% if proposal.place %}
							<div class="proposal-map" id="map_canvas_proposal" data-proposal="{{proposal.key.id}}" style="width:140%; height:200px; margin-top:25px;"></div>
							{% endif %}
							{% endif %}
							{% if proposal.description %}
							<br>
							<span class="mdi-editor-format-align-left" style="margin-left:5px;"></span> {{ proposal.description }}
							{% else%}
							<br>
							<span class="mdi-editor-format-align-left" style="margin-left:5px;"></span>{{lang.no_description}}
							{% endif %}
						</div>


					</div>	
					<button class="btn btn-primary" type="button" data-toggle="modal" data-proposal="{{ proposal.key.id }}" id="vote-button" style="padding:3px 1px 2px 5px;position:absolute;top:-5px;right:20px;background-color:#2196F3;">
						<b style="font-size:11px;">{{lang.votes}}</b>
						<span class="badge vote-number" data-proposal="{{ proposal.key.id }}">{{ proposal.vote_number }} </span>&nbsp;
					</button>
					<button id="vote" data-proposal="{{ proposal.key.id }}" type="checkbox" class="btn btn-default btn-fab btn-raised mdi-action-thumb-up vote-checkbox {% if proposal.already_voted %}proposal-voted{% else %}proposal-not-voted{% endif %} {% if topic.expired or not topic.participation %} disabled {% endif %}" style="width: 35px; height: 35px;  padding: 8px;position:absolute;top:33px;right:31px;font-size:19px;" {% if topic.expired or not topic.participation %} disabled {% endif %}></button>
					<button class="btn btn-primary" type="button" data-toggle="modal" data-proposal="{{ proposal.key.id }}" id="comments-button" style="padding:3px 1px 2px 5px;position:absolute;top:61px;right:20px;background-color:#2196F3;">
						<b style="font-size:11px;">Comments: </b>
						<span class="badge vote-number" data-proposal="{{ proposal.key.id }}">{{ proposal.comment_number }} </span>&nbsp;
					</button>
				</div>	
				<div class="proposal-arrow modal-footer" data-proposal-arrow="{{ proposal.key.id }}" style="margin-top: -10px;border-top: none;padding: 0px;text-align: center;font-size: 20px;">
					<span class="mdi-hardware-keyboard-arrow-down"></span>
				</div>				
			</div>
		</div>
	</div>
	{% endfor %}
	<div><br><br><br></div>
</div>

<!-- Popup per la lista dei voti -->
<div id="voteList" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="padding:0px 8px 0px 0px;">
				<button type="button" class="btn btn-raised" data-dismiss="modal" data-target="#voteList" style="float:right;padding: 5px 10px 3px 10px;background-color:#F44336;z-index:1;">X</button>
			</div>
			<div class="modal-body" style="padding-top:30px;">
				<div class="list-group" >
					<div class="well well-lg proposal-well" color="yellow_g" style="padding: 1px 5px 23px 25px;"> 
						<h2 id="prosalPopupTitle"></h2>
						<div id="proposalPopup"></div>
					</div> 
				</div>
				<div id="message"></div>
				<br>
				<div class="list-group" id="member-vote-list"></div>
			</div>
		</div>
	</div>
</div>

<!-- Popup per la lista dei commenti -->
<div id="commentList" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="padding:0px 8px 0px 0px;">
				<button id="close-comment-list" type="button" class="btn btn-raised" data-dismiss="modal" data-target="#commentList" style="float:right;padding: 5px 10px 3px 10px;background-color:#F44336;z-index:1;">X</button>
			</div>
			<div class="modal-body" style="padding-top:30px;">
				<div class="list-group" >
					<div class="well well-lg proposal-well" color="yellow_g" style="padding: 1px 5px 23px 25px;"> 
						<h2 class="proposal_title"></h2>
						<div id="proposal_comments_popup"></div>
					</div> 
				</div>
				<div id="comments_popup_message"></div>
				<br>
				<div class="list-group" id="proposal_comment_list"></div>
				<div>
					{% if not topic.expired %}
					<form id="new-comment-form" action="" method="post" class="form-horizontal" enctype="multipart/form-data">
						<fieldset>
							<div class="form-group">
								<label for="textArea" class="col-lg-2 control-label">{{ lang.elements.comment_uppercase }}</label>
								<div class="col-lg-10">
									<textarea class="form-control" rows="3" id="input-comment" name="comment"></textarea>
									<span class="help-block">{{ lang.comment_list_popup.write_comment_here }}</span>
								</div>
							</div>
							<div class="form-group">
								<div class="modal-footer">
									<button type="submit" class="btn" id="add-comment" style="background-color:#00A65E;">{{ lang.comment_list_popup.add_comment }}</button>
								</div>
							</div>
						</fieldset>
					</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Popup per la lista dei partecipanti al topic -->
<div id="participantsList" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="padding:0px 8px 0px 0px;">
				<button type="button" class="btn btn-raised" data-dismiss="modal" data-target="#participantsList" style="float:right;padding: 5px 10px 3px 10px;background-color:#F44336;z-index:1;">X</button>
			</div>
			<div class="modal-body" style="padding-top:30px;">
				<div class="list-group" >
					<div class="well well-lg proposal-well"  style="padding: 1px 5px 23px 25px;background-color:#2196F3"> 
						<h2 id="participantsPopupTitle"></h2>
						<div id="participantsTopicPopup"></div>
					</div> 
				</div>
				<div id="participants-message"></div>
				<br>
				<div class="list-group" id="member-participants-list"></div>
			</div>
		</div>
	</div>
</div>
		



