<script>
	$(document).ready(function() {
		$('div.topic-item').on('click', function() {
			load_topic($(this).data('group-id'), $(this).data('topic-id'))
		});
		$('#creation-buttons').html('');
		$('#creation-buttons').append(buttons.create_group);
	});
</script>
<div class="topics-overview">
	<div class="list-group">
		<div class="list-group-item">
			<div class="row">
				<div class="row-content">
					<h2>List of all topics</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="list-group global-topics">
		{% if not topics %}
		<p>You have no topics yet. Choose a group and create one now!</p>
		{% endif %}
		{% for topic in topics %}
		<div class="list-group-item topic-item" data-topic-id="{{ topic.key.id }}" data-group-id="{{ topic.group.key.id }}">
			<div class="well well-lg" color="blue" style="padding: 0px; padding-top: 10px; padding-left: 26px; padding-bottom: 6px; cursor: pointer; max-width: 900px;">
				<div class="row">
					<div class="row-picture">
						{% if topic.img %}
						<img class="circle" src="/group/{{ topic.group.key.id }}/topic/{{ topic.key.id }}/image" alt="icon">
						{% else %}
						<img class="circle" src="/static/images/topic-icon.png" alt="icon">
						{% endif %}
					</div>
					<div class="row-content">
						<h3 style="font-size:20px;padding-bottom:5px;margin:0px;">{{ topic.title }}</h3>
						<h5>
							{% if topic.place != "" %}
							<span class="mdi-communication-location-on" style="margin-left:5px;"></span>{{ topic.place }}
							{% endif %}
							{% if topic.formatted_date %}
							<span class="mdi-editor-insert-invitation" style="margin-left:5px;"></span>{{ topic.formatted_date }}
							{% endif %}
							{% if topic.time %}
							<span class="mdi-action-query-builder" style="margin-left:5px;"></span>{{ topic.time }}
							{% endif %}
						</h5>
						{% if topic.deadline %}
							{% if topic.expired %}
								<h5 class="list-group-item-text"><span class="mdi-notification-event-busy" style="margin-left:5px;"></span><span>This topic has reached its deadline.</span></h5>
							{% else %}
								<h5 class="list-group-item-text" style="margin-left:5px;"><span class="mdi-notification-event-busy"></span>
									<span>
										{% if topic.time_before_deadline.days != 0 %}
											{{ topic.time_before_deadline.days }} days 
										{% endif %}
										{% if topic.time_before_deadline.hours != 0 %}
											{{ topic.time_before_deadline.hours }} hours 
										{% endif %}
										{% if topic.time_before_deadline.minutes != 0 %}
											{{ topic.time_before_deadline.minutes }} minutes 
										{% endif %}
								</h5>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>