<!-- Start of basic head -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		
		<!-- scripts -->
		<script src="static/js/jquery-1.11.1.min.js"></script>
		<script src="static/bootstrap/js/bootstrap.js"></script>
		<script src="static/material/js/material.js"></script>
		<script src="static/material/js/ripples.js"></script>
		<script>
			$(document).ready(function() {
				$.material.init();
			});
		</script>
		<!-- /scripts -->

		<!-- style -->
		<link rel="icon" type="image/png" href="static/images/favicon.png">
		<link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="static/material/css/material.css">
		<link rel="stylesheet" href="static/material/css/material-wfont.css">
		<link rel="stylesheet" href="static/material/css/ripples.css">
		<link rel="stylesheet" href="static/css/custom-css/css-custom.css">
		<link rel="stylesheet" href="static/css/custom-css/css-navbar-custom.css">
		<!-- /style -->
		
		<!-- End of basic head -->