<!-- Start of basic head -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		
		<!-- scripts -->
		<script src="/static/js/jquery-1.11.1.min.js"></script>
		<script src="/static/bootstrap/js/bootstrap.js"></script>
		<script src="/static/material/js/material.js"></script>
		<script src="/static/material/js/ripples.js"></script>
		<script src="/static/js/snackbar.min.js"></script>
		<script src="/static/js/jquery.datetimepicker.js"></script>
		<script src="/static/js/jquery.form.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
		<script>
			$(document).ready(function() {
				$.material.init();
			});
		</script>
		<!-- /scripts -->

		<!-- style -->
		<link rel="icon" type="image/png" href="/static/images/favicon.png">
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="/static/material/css/material.css">
		<link rel="stylesheet" href="/static/material/css/material-wfont.css">
		<link rel="stylesheet" href="/static/material/css/ripples.css">
		<link rel="stylesheet" href="/static/css/custom-css/css-custom.css">
		<link rel="stylesheet" href="/static/css/custom-css/css-navbar-custom.css">
		<link rel="stylesheet" href="/static/css/snackbar.min.css">
		<link rel="stylesheet" href="/static/css/mfb.css">
		<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
		<link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css">

		<!-- Sidebar CSS -->
	    <link href="/static/css/simple-sidebar.css" rel="stylesheet">

	    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
		<!-- /Sidebar CSS -->
		<!-- /style -->


		
		<!-- End of basic head -->