<!DOCTYPE HTML>
<html>
	<head>

		<title>My Groups - BeeVote</title>

		{{ basic_head }}

		<script>
			$(document).ready(function() {
				
				$('#inputDate').datetimepicker({
					timepicker:false,
					format:'d/m/Y'
				});
				$('#inputTime').datetimepicker({
					datepicker:false,
					format:'H:i'
				});
				$('#inputDeadline').datetimepicker({
					format:'d/m/Y H:i'
				});

				checkDisplay("locationButton", "topicWhereInput");
				checkDisplay("dateButton", "topicDateInput");
				checkDisplay("timeButton", "topicTimeInput");
				checkDisplay("deadLineButton", "topicDeadLineInput");
				
				$('#group-form').ajaxForm({
					dataType: "json",
					beforeSubmit: function() {
						$('#create-group').attr("disabled", true);
					},
					clearForm: true,
					error: function() {
						alert("Errore inaspettato!");
					},
					success: function(response) {
						if (response.success) {
							load_groups();
							$('#myModal').modal('hide');
						} else {
							alert(response.error);
						}
						$('#create-group').attr("disabled", false);
					}
				});
				
				$('form#add-member-form').ajaxForm({
					dataType: "json",
					beforeSubmit: function() {
						$('button#add-member-button').attr("disabled", true);
					},
					clearForm: true,
					error: function() {
						alert("Errore inaspettato!");
						$('button#add-member-button').attr("disabled", false);
					},
					success: function(response) {
						if (response.success) {
							$('div#member_list:not(div.group-overview div#member-list)').load('html/group/'+response.group_id+'/members');
						} else {
							alert(response.error);
						}
						$('button#add-member-button').attr("disabled", false);
					}
				});

				$('form#topic-form').ajaxForm({
					dataType: "json",
					beforeSubmit: function(arr) {
						arr.push({name: 'timezoneOffset', value: new Date().getTimezoneOffset()})
						$('button#create-topic').attr("disabled", true);
					},
					error: function() {
						alert("Errore inaspettato!");
						$('button#create-topic').attr("disabled", false);
					},
					success: function(response) {
						if (response.success) {
							load_group_topics(response.group_id)
							$('#createTopic').modal('hide');
						} else {
							alert(response.error);
						}
						$('button#create-topic').attr("disabled", false);
					}
				});
				
				$('#topic-form').submit(function() {
					$(this).append('<input type="hidden" name="timezoneOffset" value="'+new Date().getTimezoneOffset()+'" /> ');
					$('#create-topic').attr("disabled", true);
					return true;
				});
				
				function load_groups() {
					$('#group-list').html('<div class="loader"></div>');
					$('#group-list').load('/html/groups');
				}
				load_groups();
				load_all_topics();
			});
			function get_topic_list(topics,global_topics) {
				var topic_list = $('<div></div>')
				if (global_topics)
					topic_list.addClass('global-topics');
				topic_list.addClass('list-group');
				$.each( topics, function( index, topic ) {
						var div_list_item = $('<div></div>');
						div_list_item.addClass('list-group-item');
							var a_href = $('<a href="/group/'+topic.data.group_id+'/topic/'+topic.data.id+'">');
								var div_well = $('<div></div>');
								div_well.addClass('well well-lg');
								div_well.attr('color', 'blue');
								div_well.css('padding', '0px');
								div_well.css('padding-top', '10px');
								div_well.css('padding-left', '26px');
								div_well.css('padding-bottom', '6px');
								div_well.css('max-width', '900px');
									var div_row = $('<div></div>');
									div_row.addClass('row');
										var div_picture = $('<div></div>');
										div_picture.addClass('row-picture');
											var image_src;
											if (topic.data.has_image)
												image_src = "/group/"+topic.data.group_id+"/topic/"+topic.data.id+"/image";
											else
												image_src = "/static/images/topic-icon.png";
										div_picture.append('<img class="circle" src="'+image_src+'" alt="icon">');
									div_row.append(div_picture);
										var div_row_content = $('<div></div>');
										div_row_content.addClass('row-content');
										div_row_content.append('<h3 style="font-size:20px;padding-bottom:5px;margin:0px;">'+topic.data.title+'</h3>');
											var tag_h4 = $('<h4></h4>');
											if (topic.data.place != null)
												tag_h4.append('<span class="mdi-communication-location-on" style="margin-left:5px;"></span>'+topic.data.place);
											if (topic.data.date != null)
												tag_h4.append('<span class="mdi-editor-insert-invitation" style="margin-left:5px;"></span>'+topic.data.date);
											if (topic.data.time != null)
												tag_h4.append('<span class="mdi-action-query-builder" style="margin-left:5px;"></span>'+topic.data.time);
										div_row_content.append(tag_h4);
										if (topic.data.deadline != null) {
											if (topic.expired)
												div_row_content.append('<h5 class="list-group-item-text" style="color: red;">This topic has reached its deadline.</h5>');
											else {
												var time_left = topic.time_before_deadline;
													var tag_h5 = $('<h5 class="list-group-item-text" style="margin-left:5px;">Time before deadline: </h5>');
														var span_red = $('<span style="color: red"></span>')
														if (time_left.days != 0)
															span_red.append(time_left.days+' days ');
														if (time_left.hours != 0)
															span_red.append(time_left.hours+' hours ');
														if (time_left.minutes != 0)
															span_red.append(time_left.minutes+' minutes ');
														if (time_left.seconds != 0)
															span_red.append(time_left.seconds+' seconds ');
													tag_h5.append(span_red);
												div_row_content.append(tag_h5);
											}
										}
									div_row.append(div_row_content);
								div_well.append(div_row);
							a_href.append(div_well);
						div_list_item.append(a_href);
					topic_list.append(div_list_item);
				});
				return topic_list;
			}
			function load_group_topics(group_id) {
				$('div#right-column').html('<div class="loader"></div>');
				$('div#right-column').load('html/group/'+group_id);
				$('div#member_list:not(div.group-overview div#member-list)').load('html/group/'+group_id+'/members');
				$('form#add-member-form').attr('action', '/api/group/'+group_id+'/members/add');
				$('#groupId').val(group_id);
			}
			function load_all_topics() {
				$('div#right-column').html('<div class="loader"></div>');
				$.ajax({
					url: '/api/groups',
					method: 'GET',
					data: {
						'fetch_topics': true,
						'evaluate_deadlines': true
					},
					success: function(groups) {
						var topic_column = $('div#right-column');
						topic_column.html('');
						topic_column.append('<h2>List of all topics</h2>');
						topic_column.append('<br>');
						
						var topics = [];
						$.each(groups, function(index, group) {
							topics = topics.concat(group.topics);
						})
						
						topic_column.append(get_topic_list(topics, true));
					}
				});
			}

		function checkDisplay(button, field) {
			$('#'+button).on('click', function() {
				$('#'+field+' input').val('');
				$(this).toggleClass('selected');
				$('#'+button).css('background-color', $(this).hasClass('selected') ? '#40FF40' : '#2196F3');
				$('#'+field).css('display', $(this).hasClass('selected') ? 'block' : 'none');
			});
		};
		</script>
		
	</head>

	<body>

		{{ navbar }}



		<!-- Popup-Form New Group -->
		<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h2 align="center">
							<b>Create a new Group</b>
						</h2>
					</div>
					<div class="modal-body">
						<form action="/api/create-group" method="post" class="form-horizontal" enctype="multipart/form-data" id="group-form">
							<fieldset>
								<div class="form-group">
									<label for="inputGroupName" class="col-lg-2 control-label">Name: </label>
									<div class="col-lg-10">
										<input class="form-control" id="inputGroupName" name="name" placeholder="Name of the group" type="text" maxlength="32" required>
									</div>
								</div>
								<div class="form-group">
									<label for="textArea" class="col-lg-2 control-label">Description</label>
									<div class="col-lg-10">
										<textarea class="form-control" rows="3" id="inputDescription" name="description"></textarea>
										<span class="help-block">Add here a description of the group</span>
									</div>
								</div>

								<div class="form-group" >
									<label for="inputImg" class="col-lg-2 control-label">Photo:</label>
									<div class="col-lg-10">
										<input id="inputImg" type="file" name="img"/>
									</div>
								</div>
								
								<!-- OLD BUTTON 
								<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
								<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default">Cancel</button>
								<button type="submit" class="btn btn-info">Create</button>
								</div>
								</div>
								-->

								<!-- NEW BUTTON -->
								<div class="form-group">
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal" data-target="#myModal">Cancel</button>
										<button type="submit" class="btn" id="create-group" style="background-color:#f44336;">Create</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Popup-Add members -->
		<div id="addMembers" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					
					<div class="modal-body">
						
							<div class="list-group">
								<h2 align="center">Members of "<span id="group_name"></span>"</h2>
								<div class="jumbotron" style="padding-bottom: 1px; padding-top: 1px;">
									<form id="add-member-form" class="form-horizontal" method="POST">
										<fieldset>
											<div class="form-group" style="padding:19px;">
												<legend>Add member</legend>
												<div class="input-group">
													<input type="email" class="form-control" id="email" name="email" placeholder="Email">
													<span class="input-group-btn">
														<button id="add-member-button" type="submit" class="btn btn-info btn-fab btn-raised mdi-social-person-add"></button>
													</span>
												</div>
											</div>
										</fieldset>
									</form>
									{% if unknown_email %}
									<div class="alert alert-dismissable alert-warning" style="max-width: 900px; margin-left: auto; margin-right: auto; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);">
										<button type="button" class="close" data-dismiss="alert">X</button>
										<h3 style="margin-top: 0px;">{{ unknown_email.0.0 }} is not associated to any BeeVote account.</h3>
									</div>
									{% endif %}
								</div>
								<div id="member_list"></div>
							</div>
						
					</div>
				</div>
			</div>
		</div>

		<!-- Popup-CreateTopic -->
		<div id="createTopic" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="padding:1px;">
						<h2 align="center"><b>Create a new Topic</b></h2>
					</div>
					<div class="modal-body" style="padding:1px;padding-left:45px;padding-right:45px;">
						<form action="/api/create-topic" method="post" class="form-horizontal" enctype="multipart/form-data" id="topic-form">
							<fieldset>
								<input id="groupId" type="hidden" name="group_id">
								<div><h4 style="text-align:center;">Title</h4></div>
								<div class="list-group">
									<div class="form-group">
										<div class="col-lg-10" style="margin-left:45px;">
											<input class="form-control" id="inputTopicName" name="title" placeholder="Title of the Topic" type="text" maxlength="64" required>
										</div>
									</div>
									<!-- NEW INPUT FILE-->
									<div class="list-group-separator" style="border-bottom: 3px solid #2196F3"></div>
									<div>
										<h4 style="text-align:center;">
											Details
										</h4>
									</div>
									<div class="list-group">
										<div class="row">
											<div class="col-lg-3">
												<div class="list-group-item">
													<h4> Place </h4>
													<button type="button" class="btn btn-info btn-fab btn-raised  mdi-communication-location-on" id="locationButton"></button>
												</div>
											</div>
											<div class="col-lg-3">
												<div class="list-group-item">
													<h4> Date </h4>
													<button  type="button" class="btn btn-info btn-fab btn-raised mdi-editor-insert-invitation" id="dateButton"></button>
												</div>
											</div>
											<div class="col-lg-3">
												<div class="list-group-item">
													<h4> Time </h4>
													<button type="button" class="btn btn-info btn-fab btn-raised mdi-action-query-builder" id="timeButton"></button>
												</div>
											</div>
											<div class="col-lg-3">
												<div class="list-group-item">
													<h4> Deadline </h4>
													<button type="button" class="btn btn-info btn-fab btn-raised mdi-notification-event-busy" id="deadLineButton"></button>
												</div>
											</div>
										</div>
											<div class="form-group" id="topicWhereInput" style="display:none;">
												<label for="inputWhere" class="col-lg-2 control-label" style="margin-top:10px;">Place: </label>
												<div class="col-lg-10" style="margin-top:10px;">
													<input class="form-control" id="inputWhere" name="place" placeholder="Location for the activities " type="text">
												</div>
											</div>
											<div class="form-group" id="topicDateInput" style="display:none;">
												<label for="inputDate" class="col-lg-2 control-label" style="margin-top:10px;">Date: </label>
												<div class="col-lg-10" style="margin-top:10px;">
													<input class="form-control" id="inputDate" name="date" placeholder=" Which date " autocomplete="off">
												</div>
											</div>
											<div class="form-group" id="topicTimeInput" style="display:none;">
												<label for="inputTime" class="col-lg-2 control-label" style="margin-top:10px;">Time: </label>
												<div class="col-lg-10" style="margin-top:10px;">
													<input class="form-control" id="inputTime" name="time" placeholder="At what time " autocomplete="off">
												</div>
											</div>
											<div class="form-group" id="topicDeadLineInput" style="display:none;">
												<label for="inputDeadline" class="col-lg-2 control-label" style="margin-top:10px;">Deadline: </label>
												<div class="col-lg-10" style="margin-top:10px;">
													<input class="form-control" id="inputDeadline" name="deadline" autocomplete="off" placeholder="Fill this field if you want to set an expire time for the topic">
												</div>
											</div>
											<div class="list-group-separator" style="border-bottom: 3px solid #2196F3;padding-top:20px;"></div>
											<br>
											<div class="form-group" >
												<label for="inputImg" class="col-lg-2 control-label">Photo:</label>
												<div class="col-lg-10">
													<input id="inputImg" type="file" name="img"/>
												</div>
											</div>
											<div class="form-group">
												<label for="textArea" class="col-lg-2 control-label">Other details: </label>
												<div class="col-lg-10">
													<textarea class="form-control" rows="3" id="inputDescription" name="description"></textarea>
													<span class="help-block">Add here details that you want the others will know </span>
												</div>
											</div>
										
									</div>
									<!-- NEW BUTTON -->
									<div class="form-group">
										<div class="modal-footer" style="padding:1px;">
											<button type="button" class="btn btn-default" data-dismiss="modal" data-target="#myModal">Cancel</button>
											<button type="submit" class="btn btn-info" id="create-topic">Create</button>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>	
		</div>

		<!-- Jumbotron Contenitore -->
		<div class="jumbotron" style="background-color: #EEEEEE; box-shadow: 0 3px 10px rgba(0, 0, 0, 0), 0 3px 10px rgba(0, 0, 0, 0); padding: 0px;">
			<div class="row">
				<!-- Colonna sinistra -->
				<div class="col-lg-5" style="padding-left:85px;padding-right:85px;">
					<!-- Jumbotron con immagine profilo -->
					<div class="jumbotron" style="background-color: #2196F3; max-width: 900px;">
						<div class="row">
							<div class="col-lg-12">
								<div class="row-picture">
									<img style="width: 90px; height: 90px; border-radius: 100%;" class="circle" src="/static/images/user-default.jpg" alt="icon"/>
								</div>
								<br>
								<h4 class="list-group-item-heading" color="black">
									<b>{{user.name}} {{user.surname}}</b>
								</h4>
							</div><!-- /col-lg-12 -->            
						</div><!-- /row -->
					</div><!-- /jumbotron Immagine profilo -->

					<!-- Jumbotron Lista Gruppi -->
					<div>
						<h2>Your Groups</h2>
						<button class="btn btn-fab btn-raised btn-material-red" data-toggle="modal" data-target="#myModal" style="z-index:10;position:fixed;bottom:10px;left:10px;"><i class="mdi-content-add" style="top: -3px;"></i></button>
					</div>
					<br>
					<div id="group-list"></div>
				</div> <!-- /col-lg-4 -->

				<!-- Colonna destra -->
				<div class="col-lg-7" id="right-column" style="padding-left:85px;padding-right:85px;">
					
				</div><!-- /col-lg-8 -->
			</div><!-- /row-inizio -->
		</div>
	</body>
</html>