
<!DOCTYPE HTML>
<html>
<head>
     
    <title>My Groups - BeeVote</title>

     {{ basic_head }}

    
</head>

<body>
     
	{{ navbar }}

    <div class="jumbotron">
    <div class="row"><div class="col-lg-5"><h1>My Groups</h1></div>
    <div class="col-lg-4"></div>
    <div class="col-lg-3">
    <a href="javascript:void(0)" class="btn btn-info">Create new Group</a>
    </div>
    </div>
</div>
  <div class="jumbotron">
    <div class="list-group" >
         <div class="list-group-item">
             <div class="row-picture">
                 <img class="circle" src="static/images/lorempixel_com-56-56-people-1.jpg" alt="icon">
            </div>
            <div class="row-content">
                 <h4 class="list-group-item-heading">Name's Groups</h4>

                 <div class="row"><div class="col-lg-5">
                      <p class="list-group-item-text">Moderate by: <a href="javascript:void(0)" class="btn btn-flat btn-info">NAME SURNAME</a></p>
                 </div>
                 <div class="col-lg-5"></div>
                 <div class="col-lg-2">
                      <ul class="nav nav-pills">
                          <li><a href="javascript:void(0)">Members <span class="badge">100</span></a></li>
                     </ul>
                </div>
                </div>
           </div>
      </div>


      <div class="list-group-separator"></div>
      <div class="list-group-item">
             <div class="row-picture">
                 <img class="circle" src="static/images/lorempixel_com-56-56-people-1.jpg" alt="icon">
            </div>
            <div class="row-content">
                 <h4 class="list-group-item-heading">Name's Groups</h4>

                 <div class="row"><div class="col-lg-5">
                      <p class="list-group-item-text">Moderate by: <a href="javascript:void(0)" class="btn btn-flat btn-info">NAME SURNAME</a></p>
                 </div>
                 <div class="col-lg-5"></div>
                 <div class="col-lg-2">
                      <ul class="nav nav-pills">
                          <li><a href="javascript:void(0)">Members <span class="badge">100</span></a></li>
                     </ul>
                </div>
                </div>
           </div>
      </div>


      <div class="list-group-separator"></div>
      <div class="list-group-item">
             <div class="row-picture">
                 <img class="circle" src="static/images/lorempixel_com-56-56-people-1.jpg" alt="icon">
            </div>
            <div class="row-content">
                 <h4 class="list-group-item-heading">Name's Groups</h4>

                 <div class="row"><div class="col-lg-5">
                      <p class="list-group-item-text">Moderate by: <a href="javascript:void(0)" class="btn btn-flat btn-info">NAME SURNAME</a></p>
                 </div>
                 <div class="col-lg-5"></div>
                 <div class="col-lg-2">
                      <ul class="nav nav-pills">
                          <li><a href="javascript:void(0)">Members <span class="badge">100</span></a></li>
                     </ul>
                </div>
                </div>
           </div>
      </div>


      <div class="list-group-separator"></div>
      <div class="list-group-item">
             <div class="row-picture">
                 <img class="circle" src="static/images/lorempixel_com-56-56-people-1.jpg" alt="icon">
            </div>
            <div class="row-content">
                 <h4 class="list-group-item-heading">Name's Groups</h4>

                 <div class="row"><div class="col-lg-5">
                      <p class="list-group-item-text">Moderate by: <a href="javascript:void(0)" class="btn btn-flat btn-info">NAME SURNAME</a></p>
                 </div>
                 <div class="col-lg-5"></div>
                 <div class="col-lg-2">
                      <ul class="nav nav-pills">
                          <li><a href="javascript:void(0)">Members <span class="badge">100</span></a></li>
                     </ul>
                </div>
                </div>
           </div>
      </div>


      <div class="list-group-separator"></div>
      <div class="list-group-item">
             <div class="row-picture">
                 <img class="circle" src="static/images/lorempixel_com-56-56-people-1.jpg" alt="icon">
            </div>
            <div class="row-content">
                 <h4 class="list-group-item-heading">Name's Groups</h4>

                 <div class="row"><div class="col-lg-5">
                      <p class="list-group-item-text">Moderate by: <a href="javascript:void(0)" class="btn btn-flat btn-info">NAME SURNAME</a></p>
                 </div>
                 <div class="col-lg-5"></div>
                 <div class="col-lg-2">
                      <ul class="nav nav-pills">
                          <li><a href="javascript:void(0)">Members <span class="badge">100</span></a></li>
                     </ul>
                </div>
                </div>
           </div>
      </div>


      <div class="list-group-separator"></div>
      <div class="list-group-item">
             <div class="row-picture">
                 <img class="circle" src="static/images/lorempixel_com-56-56-people-1.jpg" alt="icon">
            </div>
            <div class="row-content">
                 <h4 class="list-group-item-heading">Name's Groups</h4>

                 <div class="row"><div class="col-lg-5">
                      <p class="list-group-item-text">Moderate by: <a href="javascript:void(0)" class="btn btn-flat btn-info">NAME SURNAME</a></p>
                 </div>
                 <div class="col-lg-5"></div>
                 <div class="col-lg-2">
                      <ul class="nav nav-pills">
                          <li><a href="javascript:void(0)">Members <span class="badge">100</span></a></li>
                     </ul>
                </div>
                </div>
           </div>
      </div>


      <div class="list-group-separator"></div>
      <div class="list-group-item">
             <div class="row-picture">
                 <img class="circle" src="static/images/lorempixel_com-56-56-people-1.jpg" alt="icon">
            </div>
            <div class="row-content">
                 <h4 class="list-group-item-heading">Name's Groups</h4>

                 <div class="row"><div class="col-lg-5">
                      <p class="list-group-item-text">Moderate by: <a href="javascript:void(0)" class="btn btn-flat btn-info">NAME SURNAME</a></p>
                 </div>
                 <div class="col-lg-5"></div>
                 <div class="col-lg-2">
                      <ul class="nav nav-pills">
                          <li><a href="javascript:void(0)">Members <span class="badge">100</span></a></li>
                     </ul>
                </div>
                </div>
           </div>
      </div>


      <div class="list-group-separator"></div>
      <div class="list-group-item">
             <div class="row-picture">
                 <img class="circle" src="static/images/lorempixel_com-56-56-people-1.jpg" alt="icon">
            </div>
            <div class="row-content">
                 <h4 class="list-group-item-heading">Name's Groups</h4>

                 <div class="row"><div class="col-lg-5">
                      <p class="list-group-item-text">Moderate by: <a href="javascript:void(0)" class="btn btn-flat btn-info">NAME SURNAME</a></p>
                 </div>
                 <div class="col-lg-5"></div>
                 <div class="col-lg-2">
                      <ul class="nav nav-pills">
                          <li><a href="javascript:void(0)">Members <span class="badge">100</span></a></li>
                     </ul>
                </div>
                </div>
           </div>
      </div>


      <div class="list-group-separator"></div>
      <div class="list-group-item">
             <div class="row-picture">
                 <img class="circle" src="static/images/lorempixel_com-56-56-people-1.jpg" alt="icon">
            </div>
            <div class="row-content">
                 <h4 class="list-group-item-heading">Name's Groups</h4>

                 <div class="row"><div class="col-lg-5">
                      <p class="list-group-item-text">Moderate by: <a href="javascript:void(0)" class="btn btn-flat btn-info">NAME SURNAME</a></p>
                 </div>
                 <div class="col-lg-5"></div>
                 <div class="col-lg-2">
                      <ul class="nav nav-pills">
                          <li><a href="javascript:void(0)">Members <span class="badge">100</span></a></li>
                     </ul>
                </div>
                </div>
           </div>
      </div>


      <div class="list-group-separator"></div>
 </div>
</div>
    
</body>
</html>