<html>
	<head>
		<title>
			Beevote Help Page
		</title>
	</head>
	<body>
		<h1>
			Beevote Help Page
		</h1>
		<div style="border: 1px solid;">
			<ul>
				<li>
					Page elements
					<ul>
						<li><a href="#plus-button">Plus button</a></li>
					</ul>
				</li>
				<li>
					Actions
					<ul>
						<li><a href="#create-group">Create a group</a></li>
						<li><a href="#create-topic">Create a topic</a></li>
						<li><a href="#create-proposal">Create a proposal</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<h2>Page elements</h2>
		<div id="plus-button" style="border: 1px solid;">
			<h3>Plus button</h3>
			At the bottom left corner of the page there is the plus button: it is needed to create groups, topics and proposals.
			When you hover the cursor on it a different number of buttons will popup, according to the current page:
			<ul>
				<li>Green button: lets you <a href="#create-group">create a group</a>, will appear in any screen</li>
				<li>Blue button: lets you <a href="#create-topic">create a topic</a>, will appear in the group screen and in the topic screen</li>
				<li>Yellow button: lets you <a href="#create-proposal">create a proposal</a>, will appear in the topic screen</li>
			</ul>
		</div>
		<h2>Actions</h2>
		<div id="create-group" style="border: 1px solid;">
			<h3>Create a group</h3>
			To create a group:
			<ol>
				<li>hover on the <a href="#plus-button">red plus button</a> in the bottom left corner</li>
				<li>when the popup button show up, click the green one</li>
				<li>enter group information</li>
				<li>click the "Create" button</li>
			</ol> 
		</div>
		<div id="create-topic" style="border: 1px solid;">
			<h3>Create a topic</h3>
			To create a topic:
			<ol>
				<li>open the group in which you want to create the topic</li>
				<li>hover on the <a href="#plus-button">red plus button</a> in the bottom left corner</li>
				<li>when the popup button show up, click the blue one</li>
				<li>enter topic information</li>
				<li>click the "Create" button</li>
			</ol> 
		</div>
		<div id="create-proposal" style="border: 1px solid;">
			<h3>Create a proposal</h3>
			To create a proposal:
			<ol>
				<li>open the topic in which you want to create the proposal</li>
				<li>hover on the <a href="#plus-button">red plus button</a> in the bottom left corner</li>
				<li>when the popup button show up, click the yellow one</li>
				<li>enter proposal information</li>
				<li>click the "Create" button</li>
			</ol> 
		</div>
	</body>
</html>
