<!DOCTYPE html>
<html>

	<head>

		<title>Welcome to Beevote</title>
		
		{{ basic_head }}
		
	</head>

	<body style="max-width: 100%;overflow-x: hidden;">
		<style type="text/css">
			img.img-responsive{
				display: block;
				height: auto;
			}
			@media screen and (max-width: 768px){
				img.img-responsive{
					max-width: 100%;
				}
			}
			@media screen and (min-width: 768px){
				img.img-responsive{
					max-width: 50%;
				}
			}
		</style>
		
		<div class="jumbotron" style="margin-top: 0px; background-image: url('static/images/hexagon-pattern-blue.png'); background-repeat: repeat; background-position: center;margin-bottom: 0px;">
			<div class="row" align="center" style="margin-top: 25px;margin-bottom: 25px;">
				<div class="col-lg-12">
                    <img class="img-responsive" style="" src="/static/images/logo-name.png" alt="Beevote">
                </div>
			</div>
		</div>
		
			<div class="row">
				<div class="col-lg-6">
				<div class="jumbotron" style="padding-left: 20px;margin-top: 16px; margin-left: 15px; margin-right: 15px;">				
					<div class="row" align="center">
						<p style="font-size: 15px;"><b>BeeVote</b> consente a gruppi di persone, come amici e colleghi, di organizzare in maniera semplice e rapida i luoghi, le date e gli orari di incontri ed eventi.</p>
						<p>This is a beta version.</p>
					</div>
					<div class="row" align="center">
						<p style="font-size: 15px;">Using this application requires a registered Google Account. For now to register your Google Account in the application please follow these steps:
						<br>
						<b>- Login with your Google Account</b>
						<br>
						<b>- Submit your name and surname</b>
						<br>
						<b>- Start using BeeVote!</b>
						<br>
						<!--
						{% if user %}
							You are currently logged in as <b>{{ user.email }}</b>.
						{% else %}
							You are not currently logged in.
						{% endif %}
						-->
						</p>
						
						<table>
							<tr>
								<td>
									<a href="{{ login_url }}"><button class="btn btn-info">Login</button></a>
								</td>
								{% if user %}
								<td>
									<a href="/logout"><button class="btn btn-info">Logout</button></a>
								</td>
								{% endif %}
							</tr>
						</table>
						<div style="margin-top: 6px;">
						<a href="https://plus.google.com/108299825091406534382" rel="publisher" target="_blank">Google+</a>
          				&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="http://facebook.com/Beevote" target="_blank"><span class="kc">Facebook</span></a>
						</div>
					</div>
				</div>
		</div>
				<div class="col-lg-6">
				<div class="jumbotron" style="margin-top: 16px; margin-left: 15px; margin-right: 15px;background-color: #EEEEEE;box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 0px 0px rgba(0, 0, 0, 0);padding: 3px;">
					<iframe src="https://www.youtube.com/embed/lRak3pwrIc0" frameborder="0" allowfullscreen style="width: 100% !important; height: 338px !important;"></iframe>
				</div>
				</div>
			</div>
		

	</body>

</html>