<html>
	<head>
		<title>Welcome to BeeVote!</title>
		
		{{ basic_head }}
		
	</head>
	<body>
		<div class="jumbotron" style="margin-top: 0px; background-image: url('static/images/hexagon-pattern.png'); background-repeat: repeat; background-position: center;">
			<div class="row" align="center">
				<img src="static/images/favicon.png">
			</div>
			<div class="row" align="center">
				<h1>BEEVOTE</h1>
			</div>
			<div class="row" align="center">
				<h2>The solution for taking decisions in organizing events</h2>
			</div>
		</div>
		<div class="jumbotron" style="margin-top: 16px;">
			<div class="row" align="center">
				This is a pre-alpha version of BeeVote: only the basic features are present, including:
				<br>
				- Creating topics
				<br>
				- Creating proposals
				<br>
				- Voting proposals
			</div>
			<br>
			<div class="row" align="center">
				Availability of features may change, and data stored in the system might be wiped during the process of improving the application.
			</div>
			<br>
			<div class="row" align="center">
				Using this application requires a Google account.
				<br>
				<a href="group"><button class="btn btn-info">Enter</button></a>
			</div>
		</div>
	</body>
</html>