<html>
	<head>
		<title>Welcome to BeeVote!</title>
		
		{{ basic_head }}
		
	</head>
	<body>
		<div class="jumbotron" style="margin-top: 0px; background-image: url('static/images/hexagon-pattern.png'); background-repeat: repeat; background-position: center;">
			<div class="row" align="center">
				<img src="static/images/favicon.png">
			</div>
			<div class="row" align="center">
				<h1><b>BEEVOTE</b></h1>
			</div>
			<div class="row" align="center">
				<h2><b>The solution for taking decisions in organizing events</b></h2>
			</div>
		</div>
		<div class="jumbotron" style="margin-top: 16px;">
			<div class="row" align="center">
				This is a pre-alpha version of BeeVote: only the basic features are present, including:
				<br>
				- Creating topics
				<br>
				- Creating proposals
				<br>
				- Voting proposals
			</div>
			<br>
			<div class="row" align="center">
				Availability of features may change, and <b>data stored in the system might be wiped during the process of improving the application</b>.
			</div>
			<br>
			<div class="row" align="center">
				Using this application requires a Google account.
				<br>
				{% if user %}
					You are currently logged in as <b>{{ user.email }}</b>.
				{% else %}
					You are not currently logged in.
				{% endif %}
				<br>
				<a href="group"><button class="btn btn-info">Enter</button></a>
				{% if user %}
					<br>
					<a href="logout"><button class="btn btn-info">Logout</button></a>
				{% endif %}
			</div>
		</div>
	</body>
</html>