<style type="text/css">
	@media screen and (min-width:768px) {
		#wrapper {
			display: none;
		}
		#menu-toggle {
			cursor: default;
		}
	}
</style>

<script>
	$(document).ready(function() {

		//Script of mobile sidebar
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			if (e.stopPropagation) {
				e.stopPropagation();
			} else {
				e.cancelBubble = true;
			}
			$("#wrapper").toggleClass("toggled");
			$("#sidebar-wrapper").scrollTop(0);
		});
		$('#wrapper').click(function(e){
		    if (e.stopPropagation) {
				e.stopPropagation();
			} else {
				e.cancelBubble = true;
			}
		});
		$('html').click(function(e){
			if ($("#wrapper").hasClass('toggled')){
				if (e.stopPropagation) {
					e.stopPropagation();
				} else {
					e.cancelBubble = true;
				}
				$("#wrapper").removeClass("toggled");
			}
		});
		$('form#edit-user-form').ajaxForm({
			dataType: "json",
			beforeSubmit: function() {
				$('button#edit_user').attr("disabled", true);
			},
			error: function() {
				alert("{{lang.general_error}}");
				$('button#edit_user').attr("disabled", false);
			},
			success: function(response) {
				if (response.success) {
					window.location.reload();
				} else {
					alert(response.error);
					$('button#edit_user').attr("disabled", false);
				}
			}
		});
	});
</script>

<div class="navbar navbar-default navbar-fixed-top" color="blue" style="box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);">
	<div class="navbar-header">
		<style type="text/css">
			@media screen and (min-width: 768px) {
				#menu-toggle {
					pointer-events: none;
				}
			}
		</style>
		<a id="menu-toggle" class="navbar-brand" href="#menu-toggle">
			<div>
				<img src="/static/images/logo-inverted-48.png" class="logo">
			</div>
		</a>
	</div>
	<div class="navbar-collapse collapse navbar-responsive-collapse" id="nav">
		{% if breadcumb %}
		<ul class="nav navbar-nav">
			<ul class="breadcrumb list-inline" style="margin-left: -20px;">
					<!--
					<li></li>
					<li><a href="#" style="color: #DCEEFD;">Library</a></li>
					<li class="active">Data</li>
					-->
				{% for element in breadcumb.previous_elements %}
				<li><a href="{{ element.href }}" style="color: #DCEEFD;">{{ element.title }}</a></li>
				{% endfor %}
				<li class="active">{{ breadcumb.current_element.title }}</li>
			</ul>
		</ul>
		{% endif %}
		<ul class="nav navbar-nav navbar-right">
			<li>
				<!--	
				<form class="navbar-form navbar-left">
					<input type="text" class="form-control col-lg-8 " placeholder="Search">
				</form>
				-->
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span>
						{{ user.name }} {{ user.surname }} ({{ user.email }})
					</span> 
					<b class="caret"> </b>

				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="{{ feedback_url }}?usp=send_form" target="_blank" title="Click here to feedback">{{lang.feedback}}</a>
					</li>
					<li class="divider">
					</li>
					<li>
						<a href="/report-bug" title="Report a bug and help us improve your user experience">{{ lang.bugs.bug_report }}</a>
					</li>
					<li class="divider">
					</li>
					<li>
						<a href="#" id="x"  data-toggle="modal" data-target="#updateUser">{{lang.edit_profile.edit_profile_link}}</a> 
					</li>
					<li class="divider">
					</li>
					<li>
						<a href="/logout" title="Click here to logout">{{lang.logout}}</a>
					</li>
				</ul>
			</li>
			<li>
				{% if user.img %}
				<img class="image-circle" src="/user/{{user.key.id}}/image?width=64&height=64" title="Click here to logout" alt="icon">
				{% else %}
				<img class="image-circle" src="/static/images/user-default.jpg" title="Click here to logout" alt="icon">
				{% endif %}
			</li>
		</ul>
	</div>
</div>

<!-- Popup edit User -->
<div id="updateUser" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="/api/update-user" method="post" class="form-horizontal" enctype="multipart/form-data" id="edit-user-form">
					<fieldset>
						<h3 align="center">{{lang.edit_profile.edit_profile_title}}</h3>
						<div class="form-group">
							<label for="edit_user_name" class="col-lg-2 control-label">{{lang.edit_profile.edit_user_name}}: </label>
							<div class="col-lg-10">
								<input class="form-control" id="edit_user_name" name="edit_name"  type="text" maxlength="64" autocomplete="off"  value="{{user.name}}">
							</div>
						</div>
						<div class="form-group">
							<label for="edit_user_surname" class="col-lg-2 control-label">{{lang.edit_profile.edit_user_surname}}: </label>
							<div class="col-lg-10">
								<input class="form-control" id="edit_user_surname" name="edit_surname"  type="text" maxlength="64" autocomplete="off" value="{{user.surname}}" >
							</div>
						</div>
						<div class="form-group" >
							<label for="inputImg" class="col-lg-2 control-label">{{lang.photo}}:</label>
							<div class="col-lg-10">
								<input id="inputImg" type="file" name="edit_img"/>
								<span class="help-block">{{lang.warning_photo}}</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">{{lang.edit_profile.edit_user_language}}:</label>
							<div class="col-lg-10">
								<div class="radio radio-primary">
									<label>
										<input name="edit_language" id="optionsRadios1" value="it" type="radio" {% if user.language == 'it'%}checked{% endif %}>
										{{lang.italian}}
									</label>
								</div>
								<div class="radio radio-primary">
									<label>
										<input name="edit_language" id="optionsRadios2" value="en" type="radio" {% if user.language == 'en'%}checked{% endif %}>
										{{lang.english}}
									</label>
								</div>
							</div>
						</div>
						<label>{{lang.edit_profile.user_email}}: {{user.email}}</label>
						<div></div>
						<div class="form-group">			
							<div class="modal-footer" style="padding: 0px 10px 0px 0px;margin-top: 10px;">
								<button type="button" class="btn btn-default" data-dismiss="modal" data-target="#myModal" id="proposal-cancel" style="background-color:#bdbdbd;">{{lang.cancel}}</button>
								<button type="submit" class="btn btn-success" id="edit_user" style="background-color:#2196F3;">{{lang.edit}}</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Sidebar -->
<div id="wrapper">
	<div id="sidebar-wrapper" style="background-color: #2196F3; z-index:1100; height: 101%;margin-top: -75px;" >
		<ul class="sidebar-nav" id="sidebar-content">
			<li class="sidebar-toggle" style="margin-left:-5px;margin-top:7px;">
				<a id="menu-toggle" style="cursor:pointer;">
					<div>
						<img src="/static/images/logo-inverted-48.png" class="logo">
					</div>
				</a>
			</li>
			<li class="sidebar-brand" style="margin-top:5px;">
				<a id="edit-user-sidebar" style="color: #fff;cursor:pointer;">
					{% if user.img%}
					<img style="width: 45px; height: 45px; border-radius: 100%; margin-left:-10px; margin-right:10px;" class="circle" src="/user/{{user.key.id}}/image?width=64&height=64" alt="icon"/>
					{% else %}
					<img style="width: 45px; height: 45px; border-radius: 100%; margin-left:-10px; margin-right:10px;" class="circle" src="/static/images/user-default.jpg" alt="icon"/>
					{% endif %}
					{{ user.name }} {{ user.surname }}
				</a>
			</li>
			<li class="sidebar-home" style="color: #fff;">
				<a target="_blank" style="color: #fff;margin-left:10px;cursor:pointer;">
					<i class="mdi-action-home"> </i>
					Home
				</a>
			</li>
			<li class="sidebar-feedback" style="color: #fff;">
				<a href="{{ feedback_url }}?usp=send_form" target="_blank" title="Click here to feedback" style="color: #fff;margin-left:10px;">
					<i class="mdi-action-thumbs-up-down"> </i>
					Feedback
				</a>
			</li>
			<li class="sidebar-bug-report" style="color: #fff;">
				<a href="/report-bug" title="{{lang.bugs.message_title}}" style="color: #fff;margin-left:10px;">
					<i class="mdi-action-bug-report"> </i>
					{{lang.bugs.bug_report}}
				</a>
			</li>
			<li class="sidebar-logout">
				<a href="/logout" title="Click here to logout" style="color: #fff;margin-left:10px;">
					<i class="mdi-action-exit-to-app"> </i>
					Logout
				</a>
			</li>
			<li class="sidebar-groups" style="font-size:23px;color:#FFFFFF;margin-left:-10px;margin-bottom:10px;">{{lang.groups_layout.your_groups}} <i class="mdi-social-people" style="cursor:text;"></i></li>
		</ul>
	</div>
</div>

<!--
<div class="alert alert-dismissable alert-success" style="max-width: 900px; margin-left: auto; margin-right: auto; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);">
    <button type="button" class="close" data-dismiss="alert">X</button>
    <h3 style="margin-top: 0px;">We would like to know what you think about BeeVote!</h3>
    <h3 style="margin-bottom: 0px;">Click <a href='{{ feedback_url }}' style='color: #DEF321;' target='_blank'><strong>here</strong></a> to give us feedback!
    </h3>
</div>
-->

<!-- 
	feedback script
    		$.snackbar({
    			content: "We would like to know what you think about BeeVote! Click <a href='{{ feedback_url }}' style='color: #2196F3;' target='_blank'>here</a> to give us feedback!", 
    			timeout: 0
    		});
-->