<div class="navbar navbar-default navbar-fixed-top" color="blue" style="box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">
			<div>
				<img src="static/images/logo-inverted-48.png" class="logo">
			</div>
		</a>
	</div>
	<div class="navbar-collapse collapse navbar-responsive-collapse">
		<ul class="nav navbar-nav">
			<ul class="breadcrumb list-inline">
			<li> </li>
			<li><a href="#" style="color: #DCEEFD;">Library</a></li>
			<li class="active">Data</li>
		</ul>
	</ul>

		
		<ul class="nav navbar-nav navbar-right">
			<li>	
				<form class="navbar-form navbar-left">
					<input type="text" class="form-control col-lg-8 " placeholder="Search">
				</form>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span>{{ user.email }}</span> 
					<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="profile/{{ user.user_id }}">Setting</a></li>
						<li><a href="logout" title="Click here to logout">Logout</a></li>
					</ul>
				</li>
				<li>
					<img class="image-circle" src="static/images/lorempixel_com-56-56-people-1.jpg" title="Click here to logout" alt="icon">
				</li>
			</ul>
		</div>
	</div>


<!--
<div class="navbar navbar-default navbar-fixed-top" color="blue">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">
			<div>
				<img src="static/images/logo-inverted-48.png" style="margin: auto auto;">
			</div>
		</a>
	</div>
	<div class="navbar-collapse collapse navbar-responsive-collapse">
		<ul class="nav navbar-nav">
			<li class="active"><a href="javascript:void(0)">Where we are</a></li>
		</ul>

		<form class="navbar-form navbar-left">
			<input type="text" class="form-control col-lg-8 " placeholder="Search">
		</form>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="logout" style="padding-top: 0px; padding-bottom: 0px;">
					<img class="image-circle" src="http://lorempixel.com/56/56/people/1" title="Click here to logout" alt="icon">
				</a>
			</li>
		</ul>
	</div>
</div>
-->