<!DOCTYPE HTML>
<html>

    <head>

        <title>Proposal - BeeVote</title>
        
        {{ basic_head }}

        <script>
			function toggle_vote() {
				if ($("#vote").is(":checked"))
					add_vote();
				else
					remove_vote();
			}
			function add_vote() {
				$("#number_of_votes").html("...");
				$.ajax({
					url: "api/create-vote",
					method: "POST",
					data: {
						proposal_id: {{ proposal.key.id }}
					},
					dataType: "json",
					success: function(response) {
						$("#number_of_votes").html(response.vote_number);
					}
				});
			}
			function remove_vote() {
				$("#number_of_votes").html("...");
				$.ajax({
					url: "api/remove-vote",
					method: "POST",
					data: {
						proposal_id: {{ proposal.key.id }}
					},
					dataType: "json",
					success: function(response) {
						$("#number_of_votes").html(response.vote_number);
					}
				});
			}
        </script>

    </head>

    <body>

        {{ navbar }}

    <div class="jumbotron">
    	<div class="row">
            <div class="col-lg-5">
                <h1>{{ proposal.title }}</h1>
                <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPropose by <a href="javascript:void(0)" class="btn btn-flat btn-info">NAME SURNAME</a></p>
    	   </div>
    	   <div class="col-lg-4"></div>
    	   <div class="col-lg-2">
                    <div class="btn-group">
                        <a href="javascript:void(0)" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Votes&nbsp&nbsp&nbsp
                            <span class="badge" id="number_of_votes">{{ vote_number }}</span>&nbsp&nbsp<span class="caret"></span></a>
                        <ul class="dropdown-menu" id="list_of_votes">
                            <!-- Here there's a dynamic list of votes -->
                        </ul>
                    </div>
            </div>        
            <div class="col-lg-1">
                <span class="label label-info">Vote</span><span class="row-action-primary checkbox"><label><input id="vote" type="checkbox" onClick='javascript:toggle_vote();' {% if already_voted %}checked {% endif %}></label></span>
            </div>
                
        </div>
    	</div>
    </div>

    <div class ="row">
    	<div class ="col-lg-6">	
    		<div class="well">
    	    	Date: {{ proposal.date }}
    		</div>
    	</div>
    	<div class="col-lg-6">
    		<div class="well">
    	    	Time: {{ proposal.time }}
    		</div>
    	</div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h2>{{ proposal.place }}</h2></div>
        <div class="panel-body">
            <p>Place description.</p>
            <p>Address: ADDRESS</p>
            <p><a class="btn btn-info btn-lg">View on Google Maps</a></p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Description</div>
        <div class="panel-body">Description content.</div>
    </div>

    </body>
</html>