<html>
	<head>
		<title>Report a bug - BeeVote</title>
		
		{{ basic_head }}
		
		<script>
			$(document).ready(function() {
				$('input#bug-occurrence').datetimepicker({
					format:'d/m/Y H:i'
				});
				$('#bug-form').ajaxForm({
					dataType: "json",
					beforeSubmit: function() {
						$('#report-bug').attr("disabled", true);
					},
					clearForm: true,
					error: function() {
						alert("{{lang.general_error}}");
					},
					success: function(response) {
						if (response.success) {
							// TODO do something better
							alert("OK");
						} else {
							alert(response.error);
						}
						$('#create-group').attr("disabled", false);
					}
				});
			});
		</script>
		
	</head>
	<body>
		<div class="jumbotron"  style="max-width:900px;margin-top:20px;">
			<h1>{{lang.bugs.bug_report}}</h1>
			<p>{{lang.bugs.first_message}}</p>
			<p>{{lang.bugs.second_message}}</p>
			<div class="jumbotron">
				<h2 align="center"><b>{{lang.bugs.bug_report}}</b></h2>
				<form action="/api/create-bug-report" method="POST" class="form-horizontal" id="bug-form">
                <fieldset>
                  <div class="form-group">
                    <label for="bug-device" class="col-lg-2 control-label">{{lang.bugs.device}}: </label>
                    <div class="col-lg-10">
                      <input class="form-control" id="bug-device" name="device" placeholder="{{lang.bugs.device_placeholder}}" type="text" maxlength="64">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="bug-browser" class="col-lg-2 control-label">{{lang.bugs.browser}}: </label>
                    <div class="col-lg-10">
                      <input class="form-control" id="bug-browser" name="browser" placeholder="{{lang.bugs.browser_placeholder}}" type="text" maxlength="64">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="bug-description" class="col-lg-2 control-label">{{lang.bugs.description}}: </label>
                    <div class="col-lg-10">
                      <input class="form-control" id="bug-description" name="description" placeholder="{{lang.bugs.description_placeholder}}" type="text" maxlength="256">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="bug-occurrence" class="col-lg-2 control-label">{{lang.bugs.occurrence}}: </label>
                    <div class="col-lg-10">
                      <input class="form-control" id="bug-occurrence" name="occurrence" placeholder="{{lang.bugs.occurrence_placeholder}}" type="text" maxlength="64">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-info" id="report-bug">{{lang.bugs.report}}</button>
                    </div>
                  </div>
                </fieldset>
              </form>
			</div>
		</div>
	</body>
</html>