<!DOCTYPE HTML>
<html>

<head>
	<!-- CSS links -->
	<!--
		<link href="bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="bootstrap/material/css/ripples.min.css" rel="stylesheet">
		<link href="bootstrap/material/css/material-wfont.min.css" rel="stylesheet">
		<link href="bootstrap/material/css/css-custom/css-custom.css" rel="stylesheet">
	-->


		<link href="static/css/bootstrap-css/bootstrap.min.css" rel="stylesheet">
		<link href="static/css/material-css/ripples.min.css" rel="stylesheet">
		<link href="static/css/material-cssmaterial-wfont.min.css" rel="stylesheet">
		<link href="static/css/custom-css/css-custom.css" rel="stylesheet">

	<!-- JS links -->
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<!--
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		-->
		<script src="js/ripples.min.js"></script>
		<script src="js/material.min.js"></script>
		<script>
			$(document).ready(function() {
				$.material.init();
			});
		</script>
</head>

<body>

<!-- Nav Bar -->
	<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">Brand</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="javascript:void(0)">Active</a></li>
            <li><a href="javascript:void(0)">Link</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">Action</a></li>
                    <li><a href="javascript:void(0)">Another action</a></li>
                    <li><a href="javascript:void(0)">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Dropdown header</li>
                    <li><a href="javascript:void(0)">Separated link</a></li>
                    <li><a href="javascript:void(0)">One more separated link</a></li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-left">
            <input type="text" class="form-control col-lg-8" placeholder="Search">
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:void(0)">Link</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">Action</a></li>
                    <li><a href="javascript:void(0)">Another action</a></li>
                    <li><a href="javascript:void(0)">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0)">Separated link</a></li>
                </ul>
            </li>
        </ul>
    </div>
	</div>

<!-- Topic -->
	<div class="jumbotron">
    <h1>Topic</h1>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p><a class="btn btn-primary btn-lg">Partecipa</a><a class="btn btn-primary btn-lg">Non Partecipa</a></p>
	</div>

<!-- Group Proposte -->

	<div class="list-group">
		<div class="list-group-item">


		<!-- Card Proposta Small-->
			<div class="well well-sm" color="red">
				<div class="row-picture">
					<img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
				</div>
				<div class="row-content">
					<h4 class="list-group-item-heading">Card Proposal Small
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					<input type="checkbox" aling="right"></h4>
					<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus</p>
				</div>

		    </div>

		<!-- Card Proposal Big -->

			<div class="well well-lg" color="blue">
			<!-- interno proposta -->
				<div class="row-picture">
					<img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
				</div>
				<div class="row-content">
					<h4 class="list-group-item-heading">Card Proposal Big
					</h4>
					<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus</p>
				</div>
				<label ><input type="checkbox" aling="right"></label>
			</div>


		<!-- Card Proposal Media -->
			<div class="well">

    		<!-- interno proposta -->
				<div class="row-picture">
					<img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
				</div>
				<div class="row-content">
					<h4 class="list-group-item-heading">Card Proposal Medium
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					<input type="checkbox" aling="right">
					</h4>
					<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus</p>
				</div>
				<label ><input type="checkbox" aling="right"></label>
			</div>

		<!-- Card Proposal double 1 -->
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="row-picture">
						<img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
					</div>
					<h3 class="panel-title" aling="right">Panel primary
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					<input type="checkbox" aling="right"></h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
			</div>

		<!-- Card Proposal double 2 -->
			<div class="panel panel-success">
				<div class="panel-heading">
					<div class="row-picture">
						<img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
					</div>
					<h3 class="panel-title">Panel success
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					<input type="checkbox" aling="right"></h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
			</div>

		<!-- Card Proposal double 3 -->
			<div class="panel panel-warning">
				<div class="panel-heading">
					<div class="row-picture">
						<img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
					</div>
					<h3 class="panel-title">Panel warning
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					<input type="checkbox" aling="right"></h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
			</div>
</body>
</html>
