<!DOCTYPE HTML>
<html>

    <head>

        {{ basic_head }}

    </head>
    
    <body>

        <form action="create-topic" method="post" class="form-horizontal">
            <fieldset>
                
                <div class="alert alert-dismissable alert-primary">
                <h2 align="center"><b>Create a new Topic</b></h2> 
                </div>

                <div class="form-group">
                    <label for="inputTopicName" class="col-lg-2 control-label">Title: </label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputTopicName" name="inputTopicName" placeholder="Title of the Topic" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputWhat" class="col-lg-2 control-label">What: </label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputWhat" name="inputWhat" placeholder="What to do" type="text">
                        <div class="togglebutton" id="whatCheckBox" >
                            <label>
                                <input type="checkbox" checked=""> Allow to vote on what
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputWhere" class="col-lg-2 control-label">Where: </label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputWhere" name="inputWhere" placeholder="Location for the activities" type="text">
                        <div class="togglebutton" id="whereCheckBox" >
                            <label>
                                <input type="checkbox" checked=""> Allow to vote on where
                            </label>
                        </div>
                    </div>
                </div>
                

                <div class="form-group">
                    <label for="inputDate" class="col-lg-2 control-label">Date: </label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputDate" name="inputDate" placeholder="Date for the activity" type="date">
                        <div class="togglebutton" id="dateCheckBox" >
                            <label>
                                <input type="checkbox" checked=""> Allow to vote on which date
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputTime" class="col-lg-2 control-label">Time: </label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputTime" name="inputTime" placeholder="Time for the activity" type="time">
                        <div class="togglebutton" id="timeCheckBox" >
                            <label>
                                <input type="checkbox" checked=""> Allow to vote on time
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputFile" class="col-lg-2 control-label">Photo</label>
                    <div class="col-lg-10">
                        <input readonly="" class="form-control floating-label" placeholder="Browse..." type="text" >
                        <input id="inputFile" multiple="" type="file" accept="image/*">
                    </div>
                </div>
                <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Details</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="3" id="textArea"></textarea>
                        <span class="help-block">Add here details that you want the others will know </span>
                    </div>
                </div>
               
                
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </fieldset>
        </form>


    
    </body>
</html>