<html>
<head>
	<title>Topic - BeeVote</title>
	{{ basic_head }}
	
	<script>
		$(document).ready(function() {
			$('#proposal-form').submit(function() {
				$('#create-proposal').attr("disabled", true);
			});
			$("div.proposal-well").on("click", function() {
				var proposal_id = $(this).data("proposal");
				if ($("p.proposal-details[data-proposal='" + proposal_id +"']").html() == "") {
					$("span.proposal-details-message[data-proposal='" + proposal_id +"']").toggle({duration: 100});
					$.ajax({
						url: "/api/load-proposal",
						method: "GET",
						data: {
							group_id: {{ topic.parent.key.id }},
							topic_id: {{ topic.key.id }},
							proposal_id: proposal_id
						},
						dataType: "json",
						success: function(response) {
							$("span.proposal-details-message[data-proposal='" + proposal_id +"']").toggle({duration: 100});
							var proposal = response.proposal;
							$("p.proposal-details[data-proposal='" + proposal_id +"']").html(
								'<h5 class="list-group-item-text" color="black">'+proposal.activity+'</h5>'+
								'<h5 class="list-group-item-text" color="black">'+proposal.description+'</h5>'+
								'<h5 class="list-group-item-text" color="black">'+proposal.date+'</h5>'+
								'<h5 class="list-group-item-text" color="black">'+proposal.time+'</h5>'+
								'<h5 class="list-group-item-text" color="black">'+proposal.place+'</h5>'+
								'<h5 class="list-group-item-text" color="black"> Create by: '+proposal.cerator_email+' </h5>');
							$("p.proposal-details[data-proposal='" + proposal_id +"']").toggle({duration: 400});
						}
					});
				} else
					$("p.proposal-details[data-proposal='" + proposal_id +"']").toggle({duration: 400});
			});
		});
	</script>
</head>
<body>
	{{ navbar }}
	<!-- Topic -->
	<div class="jumbotron" style="max-width: 900px;">
				<h1>{{ topic.title }}</h1>
				<p>{{ topic.description }}</p>
				{% if topic.img != None %}
					<img src="/group/{{ topic.parent.key.id }}/topic/{{ topic.key.id }}/image" style=" display: inline-block; max-height: 500px; max-width: 100%;">
				{% endif %}
				{% if topic.img == None %}
					<i>No image available</i>
				{% endif %}
				<br>
				
				<p><a class="btn btn-info btn-lg">PARTICIPATE</a><a class="btn btn-info btn-lg">I CAN'T PARTICIPATE</a></p>
		<!--
		<div class="row">
			<div class="col-lg-6">
				<h1>{{ topic.title }}</h1>
				<p>{{ topic.description }}</p>
				{% if topic.img != None %}
					<img src="/group/{{ topic.parent.key.id }}/topic/{{ topic.key.id }}/image" style="width: 100%">
				{% endif %}
				{% if topic.img == None %}
					<i>No image available</i>
				{% endif %}
				<p><a class="btn btn-info btn-lg">PARTICIPATE</a><a class="btn btn-info btn-lg">I CAN'T PARTICIPATE</a></p>
			</div>
			<div class="col-lg-3">
				<div class="btn-group">
					<a href="javascript:void(0)" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="badge">10</span>&nbsp&nbsp
						&nbsp&nbspParticipants<span class="caret"></span></a>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="btn-group">
						<a href="javascript:void(0)" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="badge">10</span>&nbsp&nbspwill not  partecipe&nbsp&nbsp<span class="caret"></span></a>
					</div>
				</div>
			</div>
		-->
		</div>


		<div align="center">
			
			<!-- New Button -->
			<button class="btn btn-fab btn-raised btn-material-red" data-toggle="modal" data-target="#myModal" style="position: fixed; bottom: 20px; right: 20px; z-index:10;"><i class="mdi-content-add" style="top: 0px;"></i></button>
			
			<!-- Old button
			<button type="button" class="btn btn-info btn-raised btn-lg" data-toggle="modal" data-target="#myModal">Create a new proposal&nbsp<span class="mdi-content-add-circle-outline"></span></button>
			-->

			<!-- Popup -->
			<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h2 align="center"><b>Create a new Proposal</b></h2>
						</div>
						<div class="modal-body">
							<form action="/create-proposal" method="post" class="form-horizontal" id="proposal-form">
								<fieldset>
									<input type="hidden" name="groupId" value="{{ topic.parent.key.id }}">
									<input type="hidden" name="topicId" value="{{ topic.key.id }}">
									<div class="form-group">
										<label for="inputProposalName" class="col-lg-2 control-label">Title: </label>
										<div class="col-lg-10">
											<input class="form-control" id="inputProposalName" name="inputProposalName" placeholder="Title of the Proposal" type="text">
										</div>
									</div>
									 
									{% if topic.activity == "" %}
									<div class="form-group">
										<label for="inputWhat" class="col-lg-2 control-label">What: </label>
										<div class="col-lg-10">
											<input class="form-control" id="inputWhat" name="inputWhat" placeholder="What to do" type="text">
										</div>
									</div>
									{% endif %}

									{% if topic.place == "" %}
									<div class="form-group">
										<label for="inputWhere" class="col-lg-2 control-label">Where: </label>
										<div class="col-lg-10">
											<input class="form-control" id="inputWhere" name="inputWhere" placeholder="Location for the activities" type="text">
										</div>
									</div>
									{% endif %}
									{% if topic.date == None %}
									<div class="form-group">
										<label for="inputDate" class="col-lg-2 control-label">Date: </label>
										<div class="col-lg-10">
											<input class="form-control" id="inputDate" name="inputDate" placeholder="Date for the activity" type="date">
										</div>
									</div>
									{% endif %}
									{% if topic.time == None %}
									<div class="form-group">
										<label for="inputTime" class="col-lg-2 control-label">Time: </label>
										<div class="col-lg-10">
											<input class="form-control" id="inputTime" name="inputTime" placeholder="Time for the activity" type="time">
										</div>
									</div>
									{% endif %}
									<div class="form-group">
										<label for="textArea" class="col-lg-2 control-label">Details</label>
										<div class="col-lg-10">
											<textarea class="form-control" rows="3" id="inputDescription" name="inputDescription"></textarea>
											<span class="help-block">Add here details that you want the others will know </span>
										</div>
									</div>

									<!-- OLD BUTTON 
									<div class="form-group">
										<div class="col-lg-10 col-lg-offset-2">
											<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default">Cancel</button>
											<button type="submit" class="btn btn-info">Create</button>
										</div>
									</div>
									-->

									<!-- NEW BUTTON -->
									<div class="form-group">
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal" data-target="#myModal">Cancel</button>
											<button type="submit" class="btn btn-info" id="create-proposal">Create</button>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Group Proposals -->
		<div class="list-group">
			<div class="jumbotron" style="background-color: #DDD; max-width: 900px;">
			<div><h2>List of Proposals</h2></div>
			<br>
			{% for proposal in proposals %}
			<div class="list-group-item">

				<!-- Card Proposal Big -->
				<div data-proposal="{{ proposal.key.id }}" class="well well-lg proposal-well" color="blue" style="max-width: 900px;">
					<div class="row">
						<!--<div class="col-lg-11">-->
							<!-- interno proposta -->
							<div class="row-picture">
								<img class="circle" src="/static/images/lorempixel_com-56-56-people-1.jpg" alt="icon">
							</div>
							<div class="row-content">
								<div class="col-lg-11">
									<h2 class="list-group-item-heading">
										{{ proposal.title }}
										<span class="proposal-details-message" data-proposal="{{ proposal.key.id }}" style="display: none;"><small> (Loading...)</small></span>
									</h2>
									<p class="proposal-details" data-proposal="{{ proposal.key.id }}" style="display: none;"></p>
									<a href="/group/{{ topic.parent.key.id }}/topic/{{ topic.key.id }}/proposal/{{ proposal.key.id }}" style="color:red">view details</a>
								</div>
								<div class="least-content">
									Votes: <span class="badge" id="number_of_votes">{{ proposal.vote_number }}</span>
									<input id="vote" type="checkbox" onClick='javascript:toggle_vote("{{ proposal.parent.parent.key.id }}", "{{ proposal.parent.key.id }}", "{{ proposal.key.id }}");' >
								</div>
							</div>
						<!--</div>-->
						<!-- VOTE
						<div class="col-lg-1">
							<span class="row-action-primary checkbox"><label><input id="vote" type="checkbox" onClick='javascript:void(0)'></label></span>
						</div>
						-->
						
					</div>
				</div>
			</div>
			
			{% endfor %}
			</div>
		</div>
	</body>
	</html>



