<!DOCTYPE html>
<html>

	<head>

		<title>Group - BeeVote</title>

		{{ basic_head }}

		<script>
			$(document).ready(function() {

				$.ajax({
					url: "topics.json",
					method: "GET",
					dataType: "json",
					success: function(events) {

						var event_strings = [];

						$.each(events, function(index, event) {

							var str = "";
							str +=	'<a href="view_event.php?id='+event.id+'">';
							//str +=		'<div class="panel panel-default" style="cursor: pointer;">';
							str +=		'<div class="well well-sm" style="cursor: pointer;">';
							str +=			'<div class="list-group-item event">';
							str +=				'<div class="row-action-primary">';
							str +=					'<div class="row-picture">';
            				str +=						'<img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">';
        					str +=					'</div>';
							str +=				'</div>';
							str +=				'<div class="row-content">';
							str +=					'<div class="action-secondary">';
							str +=						'<i class="mdi-material-info"></i>';
							str +=					'</div>';
							str +=					'<h4 class="list-group-item-heading">'+event.title+'</h4>';
							str +=					'<p class="list-group-item-text">'+event.description+'</p>';
							str +=				'</div>';
							str +=			'</div>';
							str +=		'</div>';
							str +=	'</a>';

							event_strings.push(str);

						});

						//var event_list_string = event_strings.join('<div class="list-group-separator"></div>');
						var event_list_string = event_strings.join('');

						$("#event_list").append(event_list_string)
					}
				});
			});
		</script>

	</head>

	<body>

		<div class="navbar navbar-default navbar-fixed-top" color="blue">
    		<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
        		</button>
        <a class="navbar-brand" href="javascript:void(0)">Dove siamo</a>
    	</div>
    	<div class="navbar-collapse collapse navbar-responsive-collapse">
        	<ul class="nav navbar-nav">
            	<li class="active"><a href="javascript:void(0)">Home</a></li>
        	</ul>

	        <form class="navbar-form navbar-left">
	            <input type="text" class="form-control col-lg-8 " placeholder="Search">
	        </form>
	        <ul class="nav navbar-nav navbar-right">
				<li>
					<img class="image-circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
				</li>
	        </ul>
		</div>
		</div>

	<div class="jumbotron">
		<div class="row">
			<div class="col-lg-5">
    			<h1>NOME GRUPPO</h1>
			</div>
		<div class="col-lg-4"></div>
		<div class="col-lg-3">
			<div class="btn-group">
	    		<a href="javascript:void(0)" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	    		Partecipants&nbsp&nbsp&nbsp<span class="badge">10</span>&nbsp&nbsp<span class="caret"></span></a>
	    		<ul class="dropdown-menu">
	        		<li><a href="javascript:void(0)">Action</a></li>
	        		<li><a href="javascript:void(0)">Another action</a></li>
	        		<li><a href="javascript:void(0)">Something else here</a></li>
	        		<li class="divider"></li>
	        		<li><a href="javascript:void(0)">Separated link</a></li>
	    		</ul>
			</div>
		</div>
		</div>
    </div>

    <div class="jumbotron">
    	<div class="row">
			<h1 align="center">List of Topics</h1>
			<div align="center"><a href="javascript:void(0)" class="btn btn-primary btn-raised btn-lg">Create a new topic
				<span class="mdi-content-add-circle-outline"></span></a>
			</div>
			<div class="col-lg-12">
				
				{% for topic in topics %}

					<!-- Card Proposal Big -->

					<div class="list-group" id="event_list">
						<div class="list-group-item">
							<a href="view-topic?id={{topic.key.name}}">
								<div class="well well-lg" color="blue">
									<!-- interno proposta -->
									<div class="row-picture">
										<img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
									</div>
									<div class="row-content">
										<h2 class="list-group-item-heading">{{topic.title}}</h2>
										<p class="list-group-item-text">{{topic.description}}</p>
									</div>
									<label ><input type="checkbox" align="right"></label>
								</div>
							</a>
						</div>
					</div>

				{% endfor %}
			</div>
		</div>
	</div>

	</body>

</html>
