<!-- Ovviamente manca la parte interattiva, andrà inclusa non appena avremo i gruppi e gli utentu -->
<html>
<head>
	<title>Topic - BeeVote</title>
	{{ basic_head }}
</head>
<body>
	{{ navbar }}
	<div class="jumbotron">
		<div class="row">
			<div class="col-lg-4">
			</div>
			<div class="col-lg-4">
				<h1>Name Surname</h1>
			</div>
			<div class="col-lg-4">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<!--Profile picture goes here -->
				<a href="javascript:void(0)" class="btn btn-info btn-fab btn-raised mdi-action-grade"></a>
			</div>
			<div class="col-lg-6">
				<h3>Details ...</h3>
			</div>
			<div class="col-lg-3">
				<a href="javascript:void(0)" class="btn btn-info btn-raised">Edit Preferences</a>
			</div>
		</div>
	</div>
	<div class="jumbotron">
		<div class="row">
			<div class="col-lg-5">
				<!--Profile picture goes here -->
				<h3>Your groups</h3>
				<div class="list-group">
    <div class="list-group-item">
        <div class="row-action-primary">
            <i class="mdi-file-folder"></i>
        </div>
        <div class="row-content">
            <div class="least-content">15m</div>
            <h4 class="list-group-item-heading">Tile with a label</h4>
            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
        </div>
    </div>
    <div class="list-group-separator"></div>
    <div class="list-group-item">
        <div class="row-action-primary">
            <i class="mdi-file-folder"></i>
        </div>
        <div class="row-content">
            <div class="least-content">10m</div>
            <h4 class="list-group-item-heading">Tile with a label</h4>
            <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
        </div>
    </div>
    <div class="list-group-separator"></div>
    <div class="list-group-item">
        <div class="row-action-primary">
            <i class="mdi-file-folder"></i>
        </div>
        <div class="row-content">
            <div class="least-content">8m</div>
            <h4 class="list-group-item-heading">Tile with a label</h4>
            <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
        </div>
    </div>
    <div class="list-group-separator"></div>
</div>
				
			</div>
			<div class="col-lg-2">
				
			</div>
			<div class="col-lg-5">
				<h3> Your Topic</h3>

					<!-- Card Proposal Big -->

					<div class="list-group" id="event_list">
						<div class="list-group-item">
								<div class="well well-lg" color="blue">
									<!-- interno proposta -->
									<div class="row-picture">
										<img class="circle" src="static/images/lorempixel_com-56-56-people-1.jpg" alt="icon">
									</div>
									
										<h2 class="list-group-item-heading">Topic Name</h2>
										<p class="list-group-item-text">Topic Description</p>
									
								</div>
								<div class="well well-lg" color="blue">
									<!-- interno proposta -->
									<div class="row-picture">
										<img class="circle" src="static/images/lorempixel_com-56-56-people-1.jpg" alt="icon">
									</div>
									
										<h2 class="list-group-item-heading">Topic Name</h2>
										<p class="list-group-item-text">Topic Description</p>
									
								</div>
							</a>
						</div>
					</div>

				
				
			</div>
		</div>
	</div>
	</body>
	</html>



