<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
</head>

<body>


<div align="center">
  <table width="620" border="0" cellspacing="0" cellpadding="0" style="margin-top: 40px;border-collapse:collapse;font:normal 12px Roboto,Arial,Helvetica,sans-serif;color:#777" align="center">
    <tbody>
    <tr>
      <td align="left" style="font-size: 15px;padding:0 0 15px;direction:ltr">Il nuovo modo di decidere e organizzarsi</td>
    </tr>
  </tbody></table>
  <table width="620" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;font:normal 11px Roboto,Arial,Helvetica,sans-serif;color:#898989" align="center">
    <tbody><tr>
      <td width="176" align="left" style="padding: 0px 0px 4px 0px;"><a href="http://beevote.appspot.com" target="_blank">
      <img src="https://lh3.googleusercontent.com/uXB2ks1WEcDcbxOjZAE2tdew3Nff3FHUmZY5M2Ub9vXalz9FrSSXwMSy0-4BwQ3DZW0zXd6fU0SDPR4=w1247-h527" alt="Beevote" width="200" height="39" border="0" style="display:block"></a></td>
    </tr>
  </tbody></table>
  <div style="font-size:0"><img src="https://ci6.googleusercontent.com/proxy/tOP0HSWGILVWLjMQRq4DJtn7iEr5RilnjouWS6PrCo1ea6O8PWTMdB3P9uPIeZc4Z__Y9nl1AWspEuY=s0-d-e1-ft#http://cdn.tripadvisor.com/img2/x.gif" alt="" width="1" height="3" border="0" style="display:block"></div>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse" align="center">
    <tbody><tr><td>&nbsp;</td><td width="618" align="center" valign="bottom">
      <div style="border-top: 1px solid #2196F3;border-left: 1px solid #2196F3;border-right: 1px solid #2196F3;">&nbsp;</div>
    </td><td>&nbsp;</td></tr>
    <tr>
      <td style="font-size:0;line-height:0;background-color: #2196F3;" bgcolor="#589442"><img src="https://ci6.googleusercontent.com/proxy/tOP0HSWGILVWLjMQRq4DJtn7iEr5RilnjouWS6PrCo1ea6O8PWTMdB3P9uPIeZc4Z__Y9nl1AWspEuY=s0-d-e1-ft#http://cdn.tripadvisor.com/img2/x.gif" alt="" width="0" height="1" border="0" style="display:block"></td>
      <td width="615" align="center" valign="top" style="border-left: 2px solid #2196F3;border-right: 2px solid #2196F3;">
        <table width="600" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;font:normal 12px Roboto,Verdana,Arial,Helvetica,sans-serif">
          <tbody><tr>
            <td align="left" style="font-size:24px;font-family:Roboto,Arial,Helvetica,sans-serif;padding:0 10px 15px;direction:ltr"><b>L'applicazione che consente semplici e rapide decisioni di luoghi, date e orari!</b></td>
          </tr>
          <tr>
            <td align="left" style="font-size: 15px;padding:0 10px 15px;line-height:16px;direction:ltr">Beevote consente a gruppi di persone, come amici e colleghi, di organizzare in maniera semplice e rapida i luoghi, le date e gli orari di incontri ed eventi.</td>
          </tr>
          <tr>
            <td align="left" style="font-size: 15px;padding:0 10px 15px;direction:ltr">- Vai all'applicazione <a href="http://beevote.appspot.com" target="_blank">Beevote</a>.<br>- Fateci sapere cosa ne pensate lasciandoci un <a href="https://docs.google.com/forms/d/1qFNWDzBg_g1kCyNajcO32ji6vflfdsEc1MUdC4Dowvk/alreadyresponded?usp=send_form" target="_blank">feedback</a>.</td>
          </tr>
          <tr>
            <td align="left" style="padding:0 10px 15px;direction:ltr">Sviluppata presso il Workshop Google Technologies for Cloud and Web Development in collaborazione con Google Tel Aviv, Ntt DATA Roma e l' Universita' delgi Studi Roma Tre.</td>
          </tr>
          <tr>
            <td align="left" style="padding:0 10px 5px;direction:ltr">Grazie<br>Il team di <span class="kc">Beevote</span>
            </td>
          </tr>
        </tbody></table>
      </td>
      <td align="left" style="font-size:0;line-height:0;background-color: #2196F3;" bgcolor="#589442"><img src="https://ci6.googleusercontent.com/proxy/tOP0HSWGILVWLjMQRq4DJtn7iEr5RilnjouWS6PrCo1ea6O8PWTMdB3P9uPIeZc4Z__Y9nl1AWspEuY=s0-d-e1-ft#http://cdn.tripadvisor.com/img2/x.gif" alt="" width="0" height="1" border="0" style="display:block"></td>
    </tr>
    <tr><td>&nbsp;</td><td width="618" align="center" valign="bottom">
      <div style="border-bottom: 1px solid #2196F3;border-left: 1px solid #2196F3;border-right: 1px solid #2196F3;">&nbsp;</div>
    </td><td>&nbsp;</td></tr>
  </tbody></table>
  <div style="font-size:0">
    <img src="https://ci6.googleusercontent.com/proxy/tOP0HSWGILVWLjMQRq4DJtn7iEr5RilnjouWS6PrCo1ea6O8PWTMdB3P9uPIeZc4Z__Y9nl1AWspEuY=s0-d-e1-ft#http://cdn.tripadvisor.com/img2/x.gif" alt="" width="1" height="10" border="0" style="display:block">
  </div>
  <table align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
    <tbody><tr><td align="left">
      <table width="620" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse">
       <tbody><tr>
        <td align="left" style="font-size: 14px;padding-top:10px;font-family:Roboto,Arial,Helvetica,sans-serif;font-size:11px;color:#707070">
          <a href="http://beevote.appspot.com" target="_blank">Vai su <span class="kc">Beevote</span></a>
          &nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://facebook.com/Beevote" target="_blank">Seguici su <span class="kc">Facebook</span></a>
      <tr><td height="20" style="font-size:0;line-height:0">&nbsp;</td></tr>
    </tbody></table>

  </td></tr>
</tbody></table>  
</div>
</body>
</html>